@{
    ViewBag.Title = "产品&关键零部件信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <style type="text/css">
        /*表格*/
        #colorbox {
            width: 20px;
            height: 20px;
            border: 1px solid #ddd;
            border-radius: 4px;
            /*background-color: #fff;*/
            text-indent: 20px;
        }

        .table > thead > tr {
            color: #707070;
            font-weight: 400;
            background: repeat-x #F2F2F2;
            background-image: -webkit-linear-gradient(top,#F8F8F8 0,#ECECEC 100%);
            background-image: -o-linear-gradient(top,#F8F8F8 0,#ECECEC 100%);
            background-image: linear-gradient(to bottom,#F8F8F8 0,#ECECEC 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8',endColorstr='#ffececec',GradientType=0);
        }

        .table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
            border: 1px solid #ddd;
        }
    </style>
    <link href="~/static/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />
    <link href="~/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/static/bootstrap-datepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/static/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />
    <link href="~/Content/leonstyle.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />

}

@section js{
    <script src="~/static/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="~/static/bootstrap-datepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/static/bootstrap-datepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/leon/leonhelper.js"></script>
    <script>

        $(document).ready(function () {

            //判断出勤模式名称是否重复
            //$("#txtwmName").blur(function () {
            //    var name = $('#txtwmName').val().trim();
            //    $.ajax({
            //        type: "post",
            //        contentType: 'application/json',
            //        url: "/Plan/GetWorkModeWmName?wmName=" + name,
            //        dataType: "json",
            //        success: function (data) {
            //            if (data.Result) {
            //                leonhelper.simpleAlert("已存在相同出勤模式名称！", 0, function () {
            //                    $("#txtwmName").val("");
            //                    $("#txtwmName").focus();
            //                });
            //            }
            //        },
            //        error: function (xhr) {
            //            alert(xhr.responseText);
            //        }
            //    });
            //});

            //保存
            $("#btnSave").click(function () {
                if ($('#ProdModelId').val().trim() == "0") {
                    leonhelper.simpleAlert("请选择产品型号！", 0, function () {
                        $("#ProdModelId").focus();
                    });
                    return;
                }

                var isKeyLJ = 0;
                var isComingHang = 0;

                if ($("#isKeyLJ").is(':checked')) {
                    isKeyLJ = 1;
                }
                if ($("#isComingHang").is(':checked')) {
                    isComingHang = 1;
                }

                leonhelper.loading();
                leonhelper.callByAjax('/Technology/SaveBaseProductBom', {
                    ID: $('#hidID').val(),
                    prodModelId: $('#ProdModelId').val(),
                    partId: $('#partId').val(),
                    replaceTypeID: $('#replaceTypeID').val(),
                    wuliaoLJid: $('#wuliaoLJid').val(),
                    wuliaoModelID: $('#txtwuliaoModelID').val(),
                    isKeyLJ: isKeyLJ,
                    isComingHang: isComingHang,
                    replaceQty: $('#txtreplaceQty').val(),
                    replaceRate: $('#txtreplaceRate').val(),
                    amsGwID: $('#AmsGwID').val(),
                    disGwID: $('#DisGwID').val(),
                    program_GxInfoID: $('#program_GxInfoID').val(),
                    remark: $('#txtremark').val()
                }, function (data) {
                    if (data.Result) {
                        leonhelper.simpleAlert(data.Message, 1, function () {
                            location.reload();
                        });
                    } else {
                        leonhelper.simpleAlert(data.Message, 2);
                    }
                });
            });

            //新增
            $("#btnAdd").click(function () {
                $("#hTit").html("新增产品BOM");
                //清空数据
                $("#hidID").val("");
                $('#ProdModelId').val(0);
                $("#partId").val(0);
                $("#replaceTypeID").val(1);
                $("#wuliaoLJid").val(0);
                $("#txtwuliaoModelID").val(0);
                $("#isKeyLJ").attr("checked", false);
                $("#isComingHang").attr("checked", false);
                $("#txtreplaceQty").val("");
                $("#txtreplaceRate").val("100%");
                $("#AmsGwID").val(0);
                $("#DisGwID").val(0);
                $("#program_GxInfoID").val(0);
                $("#txtremark").val("");
            });

            $("#wuliaoLJid").change(function () {

                //根据条件绑定下拉
                var settable = $("#txtwuliaoModelID");//获取当前Select下拉控件
                var wlID = $("#wuliaoLJid").val();
                $.ajax({
                    url: "/Technology/GetWuliaoModelbywlID?wlID=" + wlID,
                    async: false,
                    type: "post",
                    dataType: "json",
                    contentType: "application/json",
                    success: function (result) {
                        //var myHTML = "<option value='0'>--请选择--</option>";
                        var myHTML = "";
                        settable.html("");//赋值之前先清空
                        $.each(result, function (i, data) {
                            myHTML += "<option value=" + data.wlmodelID + ">" + data.wlModels + "</option>";

                        });
                        settable.append(myHTML);

                        // 缺一不可
                        //$('#settable').selectpicker('refresh');
                        //$('#settable').selectpicker('render');
                    },
                    error: function (result) {
                        alert(result.responseText);
                    }
                });

            });



            $("#replaceTypeID").change(function () {
                //根据条件绑定下拉
                var settable = $("#replaceTypeID").val();//获取当前Select下拉控件
                if (settable == "1") {
                    $("#txtreplaceRate").val("100%");
                } else {
                    $("#txtreplaceRate").val("");
                }
            });



        







        });



        //编辑
        function EditItem(ID, prodModelId, partId, replaceTypeID, wuliaoLJid, wuliaoModelID, isKeyLJ, isComingHang, replaceQty, replaceRate, amsGwID, disGwID, program_GxInfoID, remark) {

            $("#hTit").html("编辑产品BOM");
            $('#hidID').val(ID);
            $('#ProdModelId').val(prodModelId);
            $("#partId").val(partId);
            $("#replaceTypeID").val(replaceTypeID);
            $("#wuliaoLJid").val(wuliaoLJid);
            $("#wuliaoLJid").change();
            $("#txtwuliaoModelID").val(wuliaoModelID);
            if (isKeyLJ == 1) { $("#isKeyLJ").attr("checked", true); } else { $("#isKeyLJ").attr("checked", false); }
            if (isComingHang == 1) { $("#isComingHang").attr("checked", true); } else { $("#isComingHang").attr("checked", false); }
            $("#txtreplaceQty").val(replaceQty);
            $("#txtreplaceRate").val(replaceRate);
            $("#AmsGwID").val(amsGwID);
            $("#DisGwID").val(disGwID);
            $("#program_GxInfoID").val(program_GxInfoID);
            $("#txtremark").val(remark);


        }

        //删除
        function DeleteBom(id) {
            leonhelper.simpleConfirm("确认删除此条数据吗？", function () {
                leonhelper.callByAjax("/Technology/DelBaseProductLingJian", {
                    id: id
                }, function (data) {
                    if (data.Result) {
                        leonhelper.simpleAlert(data.Message, 1, function () {
                            leonhelper.loading();
                            location.reload();
                        });
                    } else {
                        leonhelper.simpleAlert(data.Message, 2);
                    }
                });
            }, function () { });
        }
    </script>

}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <div class="tools_box ">
                    <div style="margin-bottom: 10px;">


                        @if (RW.PMS.Common.Auth.SystemAuth.IsHasAuth(RW.PMS.Common.Auth.AuthType.Add, ViewBag.AuthVal))
                        {
                            <button id="btnAdd" type="button" class="btn btn-warning" data-toggle="modal" data-target="#divModal">
                                <i class="fa fa-plus"></i>
                                新增
                            </button>
                        }

                    </div>
                    <div class="well">
                        <form class="form-inline text-left" role="search">
                            <div class="form-group">
                                <label for="name">产品型号：</label>
                                <select class="form-control" name="ProdModelId">
                                    <option value="0">--所有产品--</option>
                                    @if (ViewBag.ProductModelInfo != null)
                                    {
                                        foreach (var item in ViewBag.ProductModelInfo)
                                        {
                                            <option value="@item.ID" @(item.ID.ToString() == Request["ProdModelId"] ? "selected" : "")>@item.Pmodel</option>
                                        }
                                    }
                                </select>
                            </div>
                            &nbsp;&nbsp;
                            <div class="form-group">
                                <label for="name">更换类型：</label>
                                <select class="form-control" name="ReplaceTypeID">
                                    <option value="-1">--全部--</option>
                                    @if (ViewBag.ReplaceTypeInfo != null)
                                    {
                                        foreach (var item in ViewBag.ReplaceTypeInfo)
                                        {
                                            <option value="@item.Value" @(item.Value.ToString() == Request["ReplaceTypeID"] ? "selected" : "")>@item.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                            &nbsp;&nbsp;
                            <div class="form-group">
                                <label for="name">物料：</label>
                                <select class="form-control" name="WuliaoLJid">
                                    <option value="0">--所有物料--</option>
                                    @if (ViewBag.WuliaoInfo != null)
                                    {
                                        foreach (var item in ViewBag.WuliaoInfo)
                                        {
                                            <option value="@item.ID" @(item.ID.ToString() == Request["WuliaoLJid"] ? "selected" : "")>@item.wlname</option>
                                        }
                                    }
                                </select>
                            </div>
                            &nbsp;&nbsp;
                            <div class="form-group">
                                <label for="name">物料组件：</label>
                                <select class="form-control" name="partId">
                                    <option value="0">--所有组件--</option>
                                    @if (ViewBag.WuliaoTypeInfo != null)
                                    {
                                        foreach (var item in ViewBag.WuliaoTypeInfo)
                                        {
                                            <option value="@item.ID" @(item.ID.ToString() == Request["partId"] ? "selected" : "")>@item.wlname</option>
                                        }
                                    }
                                </select>
                            </div>
                            &nbsp;&nbsp;
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-search"></i>
                                    查询
                                </button>
                            </div>
                        </form>
                    </div>
                    @Html.Partial("ServerPaging", new RW.PMS.Web.Models.PaggingModel { TotalCount = ViewBag.TotalCount, ShowPages = 5, Url = "/Technology/BaseProductLingJian?ProdModelId=" + Request["ProdModelId"] + "&WuliaoLJid=" + Request["WuliaoLJid"] + "&ComponentId=" + Request["ComponentId"] + "&ReplaceTypeID=" + Request["ReplaceTypeID"] })
                    <table class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                        <thead style="background-color:#c8c8fa">
                            <tr>
                                <th style="width: 50px;">选择</th>
                                <th>产品型号</th>
                                <th>物料组件</th>
                                <th>更换类型</th>
                                <th>物料</th>
                                <th>零件规格</th>
                                <th>是否为关键零部件</th>
                                <th>是否为来料区悬挂件</th>
                                <th>更换数量</th>
                                <th>更换率</th>
                                <th>主要组装工位</th>
                                <th>主要拆卸工位</th>
                                <th>必换件关联拆解工序</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="tb_role">
                            @{
                                foreach (RW.PMS.Model.BaseInfo.BaseProductBomModel item in ViewBag.BaseProductLingJianlist)
                                {
                                    <tr>
                                        <td align="center">
                                            <input type="checkbox" name="ids" class="checkall" value="@item.ID" />
                                        </td>
                                        <td>@item.ProdModelName</td>
                                        <td>@item.partName</td>
                                        <td>@item.ReplaceType</td>
                                        <td>@item.wuliaoLJName</td>
                                        <td>@item.Wlmodel</td>
                                        <td>@item.IsKeyLJName</td>
                                        <td>@item.IsComingHangName</td>
                                        <td>@item.replaceQty</td>
                                        <td>@item.replaceRate</td>
                                        <td>@item.AmsGwName</td>
                                        <td>@item.DisGwName</td>
                                        <td>@item.Gxname</td>
                                        <td>@item.remark</td>
                                        @*<td align="center">
                                              @if (RW.PMS.Common.Auth.SystemAuth.IsHasAuth(RW.PMS.Common.Auth.AuthType.Edit, ViewBag.AuthVal))
                                               {<a class="btn btn-primary btn-sm" href="/Technology/BaseProdLjCheckTip?prodLjDefId=@item.ID" role="button"><i class="fa fa-arrow-circle-right"></i>质检提示</a> }
                                            </td>*@
                                        <td align="center">
                                            @if (RW.PMS.Common.Auth.SystemAuth.IsHasAuth(RW.PMS.Common.Auth.AuthType.Edit, ViewBag.AuthVal))
                                            {
                                                @*<a class="btn btn-primary btn-sm" href="/Technology/BaseProdLjCheckTip?prodLjDefId=@item.ID" role="button"><i class="fa fa-edit"></i>质量检测说明</a> 2019-11--23 禁用*@
                                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#divModal"
                                                        onclick="EditItem('@item.ID','@item.prodModelId','@item.partId','@item.replaceTypeID','@item.wuliaoLJid','@item.wuliaoModelID','@item.isKeyLJ','@item.isComingHang','@item.replaceQty','@item.replaceRate','@item.amsGwID','@item.disGwID','@item.program_GxInfoID','@item.remark')">
                                                    <i class="fa fa-edit"></i>
                                                    编辑
                                                </button>
                                            }
                                            @if (RW.PMS.Common.Auth.SystemAuth.IsHasAuth(RW.PMS.Common.Auth.AuthType.Delete, ViewBag.AuthVal))
                                            {
                                                <button type="button" class="btn btn-danger btn-sm" onclick="DeleteBom('@item.ID')">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                    删除
                                                </button>
                                            }
                                        </td>
                                    </tr>
                                }
                                if (ViewBag.BaseProductLingJianlist == null || ViewBag.BaseProductLingJianlist.Count == 0)
                                {
                                    <tr>
                                        <td colspan="15" class="text-center">暂无任何数据！</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    @Html.Partial("ServerPaging", new RW.PMS.Web.Models.PaggingModel { TotalCount = ViewBag.TotalCount, ShowPages = 5, Url = "/Technology/BaseProductLingJian?ProdModelId=" + Request["ProdModelId"] + "&WuliaoLJid=" + Request["WuliaoLJid"] + "&partId=" + Request["partId"] + "&ReplaceTypeID=" + Request["ReplaceTypeID"] })
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="divModal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="hTit">新增产品BOM</h4>
            </div>

            <div class="modal-body">
                <input id="hidID" type="hidden" />

                <div class="row form-group">
                    <label class="control-label col-md-3" for="name">产品型号：</label>
                    <div class="col-md-8">
                        <select class="form-control" id="ProdModelId">
                            <option value="0">--请选择--</option>
                            @if (ViewBag.ProductModelInfo != null)
                            {
                                foreach (var item in ViewBag.ProductModelInfo)
                                {
                                    <option value="@item.ID">@item.Pmodel</option>
                                }
                            }
                        </select>

                    </div>
                </div>
                <div id="divReplaceQty" class="row form-group">
                    <label class="control-label col-md-3" for="name">部件：</label>
                    <div class="col-md-8">
                        <select class="form-control" id="partId">
                            <option value="0">--请选择--</option>
                            @if (ViewBag.WuliaoTypeInfo != null)
                            {
                                foreach (var item in ViewBag.WuliaoTypeInfo)
                                {
                                    <option value="@item.ID">@item.wlname</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-md-3" for="name">更换类型: </label>
                    <div class="col-md-8">
                        <select id="replaceTypeID" class="form-control ">
                            <option value="1" selected>必换件</option>
                            <option value="2">偶换件</option>
                            <option value="3">组件</option>
                            <option value="0">其他</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-md-3" for="name">物料/零件: </label>
                    <div class="col-md-8">
                        <select class="form-control" id="wuliaoLJid">
                            <option value="0">--请选择--</option>
                            @if (ViewBag.WuliaoInfo != null)
                            {
                                foreach (var item in ViewBag.WuliaoInfo)
                                {
                                    <option value="@item.ID">@item.wlname</option>
                                }
                            }
                        </select>

                    </div>
                </div>

                <div class="row form-group">
                    <label class="control-label col-md-3" for="name">物料/零件规格: </label>
                    <div class="col-md-8">
                        <select class="form-control" id="txtwuliaoModelID">
                            <option value="0">--请选择--</option>
                            @*@if (ViewBag.WuliaoCode != null)
                                {
                                    foreach (var item in ViewBag.WuliaoCode)
                                    {
                                        <option value="@item.wlmodelID">@item.wlModels</option>
                                    }
                                }*@
                        </select>


                    </div>
                </div>


                <div class="row form-group">
                    <label class="control-label col-md-4" for="name">是否为关键零部件：</label>
                    <div class="col-md-8">
                        <input type="checkbox" class="custom-control-input" id="isKeyLJ">
                    </div>
                </div>

                <div class="row form-group">
                    <label class="control-label col-md-4" for="name">是否为来料区悬挂件：</label>
                    <div class="col-md-8">
                        <input type="checkbox" class="custom-control-input" id="isComingHang">
                    </div>
                </div>

                <div class="row form-group">
                    <label class="control-label col-md-3" for="name">更换/配料数量：</label>
                    <div class="col-md-8">
                        <input id="txtreplaceQty" class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <label class="control-label col-md-3">更换率：</label>
                    <div class="col-md-8">
                        <input id="txtreplaceRate" class="form-control"/>
                    </div>
                </div>


                <div class="row form-group">
                    <label class="control-label col-md-3" for="name">组装工位：</label>
                    <div class="col-md-8">
                        <select class="form-control" id="AmsGwID">
                            <option value="0">--请选择--</option>
                            @if (ViewBag.GongweiAmsInfo != null)
                            {
                                foreach (var item in ViewBag.GongweiAmsInfo)
                                {
                                    <option value="@item.ID">@item.Gwname</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="row form-group">
                    <label class="control-label col-md-3" for="name">拆卸工位：</label>
                    <div class="col-md-8">
                        <select class="form-control" id="DisGwID">
                            <option value="0">--请选择--</option>
                            @if (ViewBag.GongweiDisInfo != null)
                            {
                                foreach (var item in ViewBag.GongweiDisInfo)
                                {
                                    <option value="@item.ID">@item.Gwname</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="row form-group">
                    <label class="control-label col-md-3" for="name">必换件关联拆解工位工序：</label>
                    <div class="col-md-8">
                        <select class="form-control" id="program_GxInfoID">
                            <option value="0">--请选择--</option>
                            @if (ViewBag.Gongxu != null)
                            {
                                foreach (var item in ViewBag.Gongxu)
                                {
                                    <option value="@item.ID">@item.Gxname</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="row form-group">
                    <label class="control-label col-md-3" for="name">备注：</label>
                    <div class="col-md-8">
                        <textarea rows="3" id="txtremark" class="form-control " style="resize:none;"></textarea>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button id="btnSave" class="btn btn-primary"><i class="fa fa-save"></i>保存</button>
                <button class="btn btn-primary" data-dismiss="modal" aria-label="Close"><i class="fa fa-share"></i>返回</button>
            </div>

        </div>
    </div>
</div>




