<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <div style="margin-bottom:10px;">
                    <div class="form-group">
                        @if (RW.PMS.Common.Auth.SystemAuth.IsHasAuth(RW.PMS.Common.Auth.AuthType.CheckAll, ViewBag.AuthVal))
                        {
                            <a class="btn btn-primary btn-sm" href="javascript:void(0);" onclick="checkAll(this);"><span><i id="checkEnable" class="fa fa-check-square-o">全选</i></span></a>
                        }
                        @if (RW.PMS.Common.Auth.SystemAuth.IsHasAuth(RW.PMS.Common.Auth.AuthType.Add, ViewBag.AuthVal))
                        {
                            <button id="btnAdd" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#divModal">
                                <i class="fa fa-plus"></i>
                                新 增
                            </button>
                        }
                        @if (RW.PMS.Common.Auth.SystemAuth.IsHasAuth(RW.PMS.Common.Auth.AuthType.Delete, ViewBag.AuthVal))
                        {
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#delModel">
                                <i class="glyphicon glyphicon-remove"></i>
                                删除
                            </button>
                        }
                        <a href="/Technology/ToolforMula" class="btn btn-primary btn-sm"><i class="fa fa-undo"></i>后退</a>
                    </div>

                    <div class="well">
                        <form class="form-inline text-left" role="search">
                            <input name="TfmID" id="TfmID" type="hidden" class="form-control" value="@ViewBag.TfmID" />
                            <div class="form-group">
                                <label class="form-label">项点类型:</label>
                                <select id="tfmdItemType" name="tfmdItemType" class="form-control">
                                    <option value="0">--请选择--</option>
                                    @if (ViewBag.SomeTestItemsInfo != null)
                                    {
                                        foreach (RW.PMS.Model.Sys.BaseDataModel item in ViewBag.SomeTestItemsInfo)
                                        {
                                            <option value="@item.ID" @(item.ID.ToString() == Request["tfmdItemType"] ? "selected" : "")>@item.bdname</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group" style="margin-left:15px;">
                                <label class="form-label">项点名称:</label>
                                <input name="tfmdName" type="text" value="@Request["tfmdName"]" class="form-control" placeholder="输入项点名称查找">
                            </div>
                            <div class="form-group ">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fa fa-search"></i>
                                    查询
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--表-->
                <div class="table">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="XZ" align="center" style="width: 50px;">选择</th>
                                <th>项点类型</th>
                                <th>项点名称</th>
                                <th>项点值</th>
                                <th>最小值</th>
                                <th>最大值</th>
                                <th>备注</th>
                                <th width="10%">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.ToolforMulaDetailList == null || ViewBag.ToolforMulaDetailList.Count == 0)
                            {
                                <tr><td colspan="8" class="text-center">暂无任何数据！</td></tr>
                            }
                            else
                            {
                                foreach (RW.PMS.Model.BaseInfo.BaseToolforMulaDetailModel item in ViewBag.ToolforMulaDetailList)
                                {
                                    <tr>
                                        <td align="center">
                                            <input type="checkbox" name="ids" class="checkall" value="@item.ID" />
                                        </td>
                                        <td>@item.ItemTypeName</td>
                                        <td>@item.tfmdName</td>
                                        <td>@item.tfmdItemValue</td>
                                        <td>@item.tfmdMinValue</td>
                                        <td>@item.tfmdMaxValue</td>
                                        <td>@item.tfmdRemark</td>
                                        <td>
                                            @if (RW.PMS.Common.Auth.SystemAuth.IsHasAuth(RW.PMS.Common.Auth.AuthType.Edit, ViewBag.AuthVal))
                                            {
                                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#divModal"
                                                        onclick="EditData('@item.ID','@item.tfmdItemType','@item.tfmdName','@item.tfmdItemValue','@item.tfmdMinValue','@item.tfmdMaxValue','@item.tfmdRemark')">
                                                    <i class="fa fa-edit"></i>
                                                    编辑
                                                </button>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    @Html.Partial("ServerPaging", new RW.PMS.Web.Models.PaggingModel { TotalCount = ViewBag.TotalCount, ShowPages = 5, Url = "/Technology/ToolforMulaDetail?tfmdItemType=" + Request["tfmdItemType"] + "&tfmdName=" + Request["tfmdName"] })
                </div>
            </div>
        </div>
    </div>
</div>
<!--添加-->
<div class="modal fade" id="divModal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="hTit">新增工具参数配方明细信息</h4>
            </div>

            <div class="modal-body">
                <input id="hidID" type="hidden" />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-auto-lg">
                            <label class="form-label"><span class="red">*</span>项点类型: </label>
                            <select id="selItemType" class="form-control">
                                <option value="0">--请选择--</option>
                                @if (ViewBag.SomeTestItemsInfo != null)
                                {
                                    foreach (RW.PMS.Model.Sys.BaseDataModel item in ViewBag.SomeTestItemsInfo)
                                    {
                                        <option value="@item.ID">@item.bdname</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-auto-lg">
                            <label class="form-label"><span class="red">*</span>项点名称: </label>
                            <input id="txtName" type="text" class="form-control input-sm" placeholder="请输入项点名称" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-auto-lg">
                            <label class="form-label"><span class="red">*</span>项点值: </label>
                            <input id="txtItemValue" type="number" step="0.5"  class="form-control input-sm" placeholder="请输入项点值" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-auto-lg">
                            <label class="form-label">&nbsp;&nbsp;最小值: </label>
                            <input id="txtMinValue" type="number" step="0.5" class="form-control input-sm" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-auto-lg">
                            <label class="form-label">&nbsp;&nbsp;最大值: </label>
                            <input id="txtMaxValue" type="number" step="0.5"  class="form-control input-sm" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-auto-lg">
                            <label class="form-label">&nbsp;&nbsp;备注: </label>
                            <input id="txtRemark" type="text" class="form-control input-sm" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSave" class="btn btn-primary"><i class="fa fa-save"></i>保存</button>
                <button class="btn btn-primary" data-dismiss="modal" aria-label="Close"><i class="fa fa-share"></i>返回</button>
            </div>
        </div>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="delModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">系统提示</h4>
            </div>
            <div class="modal-body">确定要删除选中的数据吗？</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="btnDel">确定</button>
            </div>
        </div>
    </div>
</div>
@section css{
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/Content/leonstyle.css" rel="stylesheet" />
}
@section js{
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/leon/leonhelper.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSave").click(function () {

                if ($("#selItemType").val() == "0") {
                    leonhelper.simpleAlert("请选择项点类型", 2);
                    return;
                }
                if ($("#txtName").val() == "") {
                    leonhelper.simpleAlert("请输入项点名称", 2);
                    return;
                }
                if ($("#txtItemValue").val() == "") {
                    leonhelper.simpleAlert("请输入项点值", 2);
                    return;
                }


                leonhelper.loading();
                leonhelper.callByAjax("/Technology/SaveBaseToolforMulaDetail", {
                    ID: $("#hidID").val(),
                    tfmID: $("#TfmID").val(),
                    tfmdItemType: $("#selItemType").val(),
                    tfmdName: $("#txtName").val(),
                    tfmdItemValue: $("#txtItemValue").val(),
                    tfmdMinValue: $("#txtMinValue").val(),
                    tfmdMaxValue: $("#txtMaxValue").val(),
                    tfmdRemark: $("#txtRemark").val()
                }, function (data) {
                    if (data.Result) {
                        leonhelper.simpleAlert(data.Message, 1, function () {
                            location.reload();
                        });
                    } else {
                        leonhelper.simpleAlert(data.Message, 2);
                    }
                });

            });

            //新增按钮点击事件
            $("#btnAdd").click(function () {
                $("#hTit").html("新增工具参数配方明细信息");
                //清空数据
                $("#hidID").val("0");
                $("#selItemType").val("0");
                $("#txtName").val("");
                $("#txtItemValue").val("");
                $("#txtMinValue").val("");
                $("#txtMaxValue").val("");
                $("#txtRemark").val("");
            });

            //删除
            $('#btnDel').click(function () {
                var ids = GetckbValue();//获取复选框的值
                if (ids == "") {
                    leonhelper.simpleAlert("没有可要删除的数据", 2);
                    return;
                }
                $.ajax({
                    url: "/Technology/DelBaseToolforMulaDetail",
                    type: "post",
                    dataType: "json",
                    data: "{id:'" + ids + "'}",
                    contentType: "application/json",
                    success: function (data) {
                        Modal.alert({
                            text: data.Message, callback: function () {
                                if (data.Result)
                                    location.reload()
                                else
                                    location.reload()
                            }
                        });
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });
            });
        });

        //编辑
        function EditData(id, ItemType, tfmdName, tfmdItemValue, tfmdMinValue, tfmdMaxValue, Remark) {
            $("#hTit").html("编辑工具参数配方明细信息");

            $("#hidID").val(id);
            $("#selItemType").val(ItemType);
            $("#txtName").val(tfmdName);
            $("#txtItemValue").val(tfmdItemValue);
            $("#txtMinValue").val(tfmdMinValue);
            $("#txtMaxValue").val(tfmdMaxValue);
            $("#txtRemark").val(Remark);
        }



    </script>
}