@section css{
    @*<link href="~/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/leonstyle.css" rel="stylesheet" />
    <link href="~/static/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/static/bootstrap-datepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/Scripts/layui-v2.5.6/css/layui.css" rel="stylesheet" />
    <style>
        /*dataList显示下拉图标*/
        input::-webkit-calendar-picker-indicator {
            opacity: 100;
        }
        /*F6F6F6*/



        .StatusStyle {
            color: white;
        }
    </style>



}

<div class="container-fluid">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <div>
                <div class="form-group">
                    @*@if (RW.PMS.Common.Auth.SystemAuth.IsHasAuth(RW.PMS.Common.Auth.AuthType.CheckAll, ViewBag.AuthVal))
                        {
                            <button type="button" class="btn btn-primary checkbox-toggle">
                                <i class="fa fa-square-o"> 全选</i>
                            </button>
                        }*@
                    @if (RW.PMS.Common.Auth.SystemAuth.IsHasAuth(RW.PMS.Common.Auth.AuthType.Add, ViewBag.AuthVal))
                    {
                        <button id="btnAdd" type="button" class="btn btn-warning" data-toggle="modal" data-target="#divModal"><i class="fa fa-plus"> 新增</i></button>
                    }
                    @if (RW.PMS.Common.Auth.SystemAuth.IsHasAuth(RW.PMS.Common.Auth.AuthType.Delete, ViewBag.AuthVal))
                    {
                        <button id="btnRemove" type="button" class="btn btn-danger" @*onclick="show_modal();"*@><i class="fas fa-times"> 删除</i></button>
                    }
                </div>

                <div class="shadow-none p-3 mb-1 bg-light rounded">
                    <form class="" role="search">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-auto-lg">
                                    <label class="form-label ">单据号:</label>
                                    <input id="LIKEorderCode" name="LIKEorderCode" class="form-control input-sm" autocomplete="off" value="@Request["LIKEorderCode"]" placeholder="输入单据编号查找" />
                                    <input style="display:none;" /><!--隐藏文本框防提交-->
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-auto-lg">
                                    <label class="form-label ">第三方单据号:</label>
                                    <input id="LIKEorderCodeRel" name="LIKEorderCodeRel" class="form-control input-sm" autocomplete="off" value="@Request["LIKEorderCodeRel"]" placeholder="输入第三方单据编号查找" />
                                    <input style="display:none;" /><!--隐藏文本框防提交-->
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-auto-lg">
                                    <label class="form-label ">项目号编码:</label>
                                    <input id="LIKEproject" name="LIKEproject" class="form-control input-sm" autocomplete="off" value="@Request["LIKEproject"]" placeholder="输入项目号编码查找" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-auto-lg">
                                    <label class="form-label ">跟踪号编码:</label>
                                    <input id="LIKEtrackNumber" name="LIKEtrackNumber" class="form-control input-sm" autocomplete="off" value="@Request["LIKEtrackNumber"]" placeholder="输入跟踪号编码查找" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-auto-lg">
                                    <label class="form-label ">计划开始时间:</label>
                                    <input id="pp_startDate" name="pp_startDate" class="form-control input-sm" autocomplete="off" value="@Request["pp_startDate"]" placeholder="输入或选择计划开始时间查找" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-auto-lg">
                                    <label class="form-label ">计划结束时间:</label>
                                    <input id="pp_finishDate" name="pp_finishDate" class="form-control input-sm" autocomplete="off" value="@Request["pp_finishDate"]" placeholder="输入或选择计划结束时间查找" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-auto-lg">
                                    <label class="form-label ">状态:</label>
                                    <select id="pp_status" name="pp_status" class="form-control input-sm">
                                        <option value="-1">--全部--</option>
                                        <option value="0" @("0" == Request["pp_status"] ? "selected" : "")>未开始</option>
                                        <option value="1" @("1" == Request["pp_status"] ? "selected" : "")>已下发</option>
                                        <option value="2" @("2" == Request["pp_status"] ? "selected" : "")>已开始</option>
                                        <option value="3" @("3" == Request["pp_status"] ? "selected" : "")>已完成</option>
                                        <option value="4" @("4" == Request["pp_status"] ? "selected" : "")>已驳回</option>
                                    </select>
                                </div>
                                @*<span class='label label-sm bg-primary'>新建</span>

                                    <span class='label label-sm bg-orange-active'>缓存区存放</span>

                                    <span class='label label-sm bg-yellow'>入场存放区待存</span>

                                    <span class='label label-sm bg-green'>入场存放区已存</span>

                                    <span class='label label-sm bg-light-blue-active'>已离场</span>*@
                            </div>
                            <div class="col-sm-3">
                                <div class="form-auto text-right">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"> 查询</i></button>
                                    <button type="button" class="btn btn-primary" id="btnReset"><i class="fas fa-redo-alt"> 重置</i></button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <!--表-->
        <div class="card-body">
            <div class="table">
                <table id="tbMainList" class="table table-bordered table-hover">
                    <thead>
                        <tr style="background: #1a749a;color:#f3f0f0; text-align:center;">
                            <th class="XZ" align="center" style="width: 60px;">选择</th>
                            <th width="8%">项目名称</th>
                            <th width="5%">台车号</th>
                            @*<th width="8%">单据编号</th>*@
                            @*<th width="8%">第三方单据编号</th>*@
                            @*<th>库存组织编码</th>*@
                            @*<th>事务类型编码</th>*@
                            @*<th>业务日期</th>*@
                            <th>产品型号</th>
                            <th>物料编码</th>
                            <th>项目号编码</th>
                            <th>跟踪号编码</th>
                            <th width="2%">状态</th>
                            <th width="5%">计划数量</th>
                            <th width="7%">计划开始时间</th>
                            <th width="7%">计划结束时间</th>
                            @*<th>参考信息</th>*@
                            <th>主制部门</th>
                            @*<th>备注</th>*@
                            <th width="195px">操作</th>
                        </tr>
                    </thead>
                    <tbody id="dataTable">
                        @if (ViewBag.PartPlanList == null || ViewBag.PartPlanList.Count == 0)
                        {
                            <tr><td colspan="17" class="text-center">暂无任何数据！</td></tr>
                        }
                        else
                        {
                            foreach (RW.PMS.Model.Plan.PartPlanModel item in ViewBag.PartPlanList)
                            {
                                <tr>
                                    <td align="center">
                                        @{ if (item.pp_status != 1 && item.pp_status != 2 && item.pp_status != 3)
                                            {
                                                <input type="checkbox" class="checkall" name="ids" value="@item.pp_orderCode" />
                                            }
                                        }
                                    </td>
                                    <td>
                                        @item.pp_projectName
                                        @*@item.pp_orderCode*@
                                        @*<a href="/Plan/PartPlanDetail?pp_orderCode=@item.pp_orderCode"> @item.pp_orderCode </a>*@
                                        <input type="hidden" id="hidorderCode" value="@item.pp_orderCode" />
                                        <input type="hidden" id="hidordercodeRel" value="@item.pp_orderCodeRel" />
                                    </td>
                                    <td>@("T" + item.pp_wagonNo)</td>
                                    @*<td> @item.pp_orderCodeRel </td>*@
                                    @*<td>@item.pp_storageOrgUnit</td>*@
                                    @*<td>@item.pp_transactionType</td>*@
                                    @*<td>@item.pp_bizDateText</td>*@
                                    <td>@item.Pmodel</td>
                                    <td>@item.pp_material</td>
                                    <td>@item.pp_project</td>
                                    <td>@item.pp_trackNumber</td>
                                    @if (item.pp_status == 0)
                                    {
                                        <td align="center"><h5><span class="badge bg-primary LevelStyle" style="font-size:13px;">@item.pp_statusText</span></h5></td>
                                    }
                                    else if (item.pp_status == 1)
                                    {
                                        <td align="center"><h5><span class="badge StatusStyle" style="background-color:#ff7701;font-size:13px;">@item.pp_statusText</span></h5></td>
                                    }
                                    else if (item.pp_status == 2)
                                    {
                                        <td align="center"><h5><span class="badge bg-yellow StatusStyle" style="font-size:13px;">@item.pp_statusText</span></h5></td>
                                    }
                                    else if (item.pp_status == 3)
                                    {
                                        <td align="center"><h5><span class="badge bg-green StatusStyle" style="font-size:13px;">@item.pp_statusText</span></h5></td>
                                    }
                                    else if (item.pp_status == 4)
                                    {
                                        <td align="center"><h5><span class="badge bg-red StatusStyle" style="font-size:13px;">@item.pp_statusText</span></h5></td>
                                    }
                                    <td align="center">@item.pp_planQty</td>
                                    <td>@item.pp_startDateText</td>
                                    <td>@item.pp_finishDateText</td>
                                    @*<td>@item.pp_description</td>*@
                                    <td>@item.pp_adminOrgUnitID</td>
                                    @*<td>@item.pp_remark</td>*@
                                    <td>
                                        @if (RW.PMS.Common.Auth.SystemAuth.IsHasAuth(RW.PMS.Common.Auth.AuthType.Edit, ViewBag.AuthVal))
                                        {
                                            <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#divModal" onclick="EditData('@item.pp_orderCode','@item.pp_orderCodeRel','@item.pp_storageOrgUnit','@item.pp_transactionType','@item.pp_prodModelID','@item.pp_material','@item.PmodelDrawingNo','@item.pp_project','@item.pp_trackNumber','@item.pp_status','@item.pp_planQty','@item.pp_startDateText','@item.pp_finishDateText','@item.pp_description','@item.pp_adminOrgUnitID','@item.pp_remark','@item.pp_bizDateText','@item.pp_projectName','@item.pp_wagonNo')" href="#"><i class="fa fa-edit"> 编辑</i></a>
                                            <a class="btn btn-info btn-sm" href="/Plan/PartPlanTechnicsList?pp_orderCode=@item.pp_orderCode"><i class="fas fa-bars"> 计划工序明细</i></a>
                                            @*if (item.pp_status == 0 || item.pp_status == 4)
                                                {
                                                    <a class="btn btn-success btn-sm" href="#" onclick="btnIssued('@item.pp_orderCode')"><i class="fa fa-exchange"></i>计划下发</a>
                                                }*@
                                            @*fa-reorder*@
                                        }
                                    </td>
                                </tr>
                                                }
                                            }
                    </tbody>
                </table>
                @Html.Partial("ServerPaging", new RW.PMS.Web.Models.PaggingModel { TotalCount = ViewBag.TotalCount, ShowPages = 5, Url = "/Plan/PartPlanList?LIKEorderCode=" + Request["LIKEorderCode"] + "&LIKEorderCodeRel=" + Request["LIKEorderCodeRel"] + "&LIKEproject=" + Request["LIKEproject"] + "&LIKEtrackNumber=" + Request["LIKEtrackNumber"] + "&pp_startDate=" + Request["pp_startDate"] + "&pp_finishDate=" + Request["pp_finishDate"] + "&pp_status" + Request["pp_status"] })
            </div>
        </div>

    </div>
</div>



<div class="modal fade" id="divModal" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="hTit">新增配件计划信息</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-horizontal">

                    @*<div class="form-row align-items-center">
                            <div class="col-sm-6">
                                <small style="color: red; font-size: 20px;"> * </small>
                                <label class="" for="inlineFormInput">系统单据编码:</label>
                                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Jane Doe">
                            </div>
                            <div class="col-sm-6">
                                <small style="color: red; font-size: 20px;"> * </small>
                                <label class="" for="inlineFormInputGroup">第三方单据编码:</label>
                                <div class="input-group mb-2">
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
                                </div>
                            </div>
                        </div>*@



                    <div class="form-row align-items-center" style="display:none;">
                        @*<input id="userID" type="hidden" />*@
                        <div class="col-sm-6">
                            <small style="color: red; font-size: 20px;"> * </small>
                            <label class="control-label">系统单据编码:</label>
                            <input id="txtOrderCode" class="form-control" disabled="disabled" placeholder="系统将自动生成编码" value="" />
                        </div>
                        <div class="col-sm-6" id="divHidPwd">
                            <small style="color: red; font-size: 20px;"> * </small>
                            <label class="control-label">第三方单据编码:</label>
                            <input id="txtOrderCodeRel" class="form-control" disabled="disabled" placeholder="系统将自动获取第三方单据编码" value="" />
                        </div>
                    </div>

                    <div class="form-row align-items-center">
                        <div class="col-sm-6" id="divHidResPwd">
                            @*<label class="control-label col-sm-5">重置密码:</label>
                                <div class="col-sm-6">
                                    <input type="checkbox" id="ResultPwd" />
                                    <span style="color:#ff0000;">重置密码为:123456</span>
                                </div>*@
                            <small style="color: red; font-size: 20px;"> * </small>
                            <label class="control-label">库存组织编码:</label>
                            <input id="txtStorageOrgUnit" class="form-control" placeholder="请输入库存组织编码" autocomplete="off" />
                        </div>
                        <div class="col-sm-6">
                            <small style="color: red; font-size: 20px;"> * </small>
                            <label class="control-label">事务类型编码:</label>
                            <input id="txtTransactionType" class="form-control" placeholder="请输入事务类型编码" autocomplete="off" />
                        </div>
                    </div>


                    <div class="form-row align-items-center">
                        <div class="col-sm-6">
                            <small style="color: red; font-size: 20px;"> * </small>
                            <label class="control-label">产品型号(图号):</label>@*物料编码(图号)*@
                            <input id="txtProdModelName" list="hasProdModelInfo" class="form-control" placeholder="可选择或输入产品型号(图号)" autocomplete="off">
                            <datalist id="hasProdModelInfo">
                                <option class="productItem" value="" data-id="" data-pid="" data-pmodel="" data-drawingno=""></option>
                            </datalist>
                            <input id="hidProdModelID" type="hidden" />
                            <input id="hidDrawingNo" type="hidden" />
                        </div>
                        <div class="col-sm-6">
                            <small style="color: red; font-size: 20px;"> * </small>
                            <label class="control-label" for="name">项目号编码:</label>
                            <input id="txtProject" class="form-control" placeholder="请输入项目号编码" autocomplete="off" />
                        </div>
                    </div>


                    <div class="form-row align-items-center">
                        <div class="col-sm-6">
                            <small style="color: red; font-size: 20px;"> * </small>
                            <label class="control-label " for="name">跟踪号编码:</label>
                            <input id="txtTrackNumber" class="form-control" placeholder="请输入跟踪号编码" autocomplete="off" />
                        </div>
                        <div class="col-sm-6">
                            <small style="color: red; font-size: 20px;"> * </small>
                            <label class="control-label " for="name">计划数量:</label>
                            <input id="txtPlanQty" class="form-control" placeholder="请输入计划数量" onkeyup="this.value=this.value.replace(/\D/g,'')" autocomplete="off" />
                        </div>
                    </div>


                    <div class="form-row align-items-center">
                        <div class="col-sm-6">
                            <small style="color: red; font-size: 20px;"> * </small>
                            <label class="control-label" for="name">计划开始时间:</label>
                            <input id="txtStartTime" class="form-control" placeholder="请选择或输入计划开始日期" autocomplete="off" />

                        </div>
                        <div class="col-sm-6">
                            <small style="color: red; font-size: 20px;"> * </small>
                            <label class="control-label" for="name">计划结束时间:</label>
                            <input id="txtEndTime" class="form-control" placeholder="请选择或输入计划结束日期" autocomplete="off" />
                        </div>
                    </div>

                    <div class="form-row align-items-center">
                        <div class="col-sm-6">
                            <small style="color: white; font-size: 20px;"> * </small>
                            <label class="form-label" for="name">参考信息:</label>
                            <input id="txtDescription" class="form-control" placeholder="请输入参考信息" autocomplete="off" />
                        </div>
                        <div class="col-sm-6">
                            <small style="color: red; font-size: 20px;"> * </small>
                            <label class="form-label" for="name">主制部门:</label>
                            <input id="txtAdminOrgUnitID" class="form-control" placeholder="请输入主制部门" autocomplete="off" />
                        </div>
                    </div>

                    <div class="form-row align-items-center">
                        <div class="col-sm-6">
                            <small style="color: red; font-size: 20px;"> * </small>
                            <label class="form-label" for="name">项目名称:</label>
                            <textarea rows="1" id="txtpp_projectName" class="form-control" placeholder="项目名称" style="resize:none;"></textarea>
                        </div>
                        <div class="col-sm-6">
                            <small style="color: red; font-size: 20px;"> * </small>
                            <label class="form-label" for="name">台车号:</label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text">T</span></div>
                                <input id="txtwagonNo1" type="number" min="0" onkeyup="this.value=this.value.replace(/\D/g,'')" class="form-control" onblur="txtTcdRowNoBlur(this)">
                                <div class="input-group-append"> <span class="input-group-text">-</span></div>
                                <input id="txtwagonNo2" type="number" min="0" onkeyup="this.value=this.value.replace(/\D/g,'')" class="form-control" onblur="txtTcdRowNoBlur(this)">
                            </div>
                        </div>
                    </div>


                    <div class="form-row align-items-center">
                        <div class="col-sm-6">
                            <small style="color: white; font-size: 20px;"> * </small>
                            <label class="form-label" for="name">备注:</label>
                            <textarea rows="1" id="txtRemark" class="form-control" placeholder="备注" style="resize:none;"></textarea>
                        </div>
                        <div class="col-sm-6">
                            <small style="color: white; font-size: 20px;"> * </small>
                            <label class="form-label" for="name">业务日期:</label>
                            <input id="txtbizDate" class="form-control" type="text" disabled="disabled" placeholder="系统将自动生成业务日期" />
                        </div>
                    </div>




                </div>
            </div>


            <div class="modal-footer">
                <button id="btnSavePlan" type="button" class="btn btn-warning float-left" data-toggle="modal" data-target="#PlanModal" style="display:none;">
                    <i class="fa fa-copy"></i>@*fa-floppy-o*@
                    批量保存
                </button>

                <button id="btnSave" class="btn btn-primary"><i class="fa fa-save"> 保存</i></button>
                <button class="btn btn-success" data-dismiss="modal" aria-label="Close"><i class="fa fa-share"> 返回</i></button>
            </div>
        </div>
    </div>
</div>





@section js{
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/leon/leonhelper.js"></script>
    <script src="~/Scripts/datatables/jquery.dataTables.min.js"></script>
    <script src="~/static/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/static/bootstrap-datepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/static/bootstrap-datepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="~/Scripts/layui-v2.5.6/layui.js"></script>
    <script>


        function txtTcdRowNoBlur(data) {
            var txtTcdRowNo = $(data).val();
            if (txtTcdRowNo != "") {
                if (isNumber(txtTcdRowNo) == false) {
                    leonhelper.simpleAlert("请填写数字！", 0, function () {
                        $(data).focus();
                        $(data).val("");
                        return;
                    });
                }
            }
        }


        //验证是否为数字
        function isNumber(value) {
            var patrn = /^(-)?\d+(\.\d+)?$/;
            if (patrn.exec(value) == null || value == "") {
                return false
            } else {
                return true
            }
        }

        layui.use('laydate', function () {
            var laydate = layui.laydate;
            //执行一个laydate实例
            laydate.render({
                elem: '#txtStartTime' //指定元素
                , theme: '#007bff'
                //, calendar: true //
            });
            laydate.render({
                elem: '#txtEndTime' //指定元素
                , theme: '#007bff'
                //, value: '2020-11-18'
                //, isInitValue: true
            });
            laydate.render({
                elem: '#pp_startDate' //指定元素
                , theme: '#007bff'
            });
            laydate.render({
                elem: '#pp_finishDate' //指定元素
                , theme: '#007bff'
            });
        });


        //function InitDate() {
        //    var time = new Date();
        //}

        $(function () {

            //时间框参数(查询条件)
            var dtQPara = {
                fontAwesome: 'font-awesome',//指定
                format: "yyyy-mm-dd",//格式
                weekStart: 1,//一周从何时开始，0为周日
                autoclose: true,//自动关闭
                language: "zh-CN",//语言,默认英文
                todayBtn: "linked",//今日按钮
                todayHighlight: true,//高亮当前日期
                minView: "month"//最小视图(最精确的时间) 默认 0 "hour" 选分钟
            };

            //$('#pp_startDate').daterangepicker({
            //    singleDatePicker: true,         //是否开启单双日期控件。
            //    showDropdowns: true,            //显示年份和月份选择日历上方的框以跳转到特定的月份和年份。
            //    minYear: 1901,
            //    maxYear: parseInt(moment().format('YYYY'), 10),
            //    locale: {
            //        format: "YYYY-MM-DD",
            //        separator: " - ",
            //        applyLabel: "确认",
            //        cancelLabel: "清空",
            //        fromLabel: "开始时间",
            //        toLabel: "结束时间",
            //        customRangeLabel: "自定义",
            //        daysOfWeek: ["日", "一", "二", "三", "四", "五", "六"],
            //        monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            //    }
            //}, function (start, end, label) {

            //});



            //时间框参数(编辑框)
            var dtPara = {
                format: "yyyy-mm-dd",//格式 yyyy-mm-dd hh:ii
                weekStart: 1,//一周从何时开始，0为周日
                autoclose: true,//自动关闭
                language: "zh-CN",//语言,默认英文
                todayBtn: "linked",//今日按钮
                todayHighlight: true,//高亮当前日期
                //startDate: new Date(),//最早开始日期
                minView: "month",//最小视图(最精确的时间) 默认 0 "hour" 选分钟
                //minuteStep: 1,//步进值,默认5分钟
                //showMeridian: true,//显示上下午,默认false
                //initialDate: new Date(),//打开时默认选择的日期,默认new date()
                //startView: 1, //日期时间选择器打开之后首先显示的视图
            }

            //计划开始时间（编辑框）
            //$('#txtStartTime').datetimepicker(dtPara);

            //计划结束时间（编辑框）
            //$('#txtEndTime').datetimepicker(dtPara);

            //计划开始时间
            //$('#pp_startDate').datetimepicker(dtQPara);

            //计划结束时间
            //$('#pp_finishDate').datetimepicker(dtQPara);

            //跳转页面新增按钮点击事件
            //$("#btnAdd").click(function () {
            //    location.href = "/Plan/PartPlanDetail";
            //});

            //新增计划按钮点击事件
            $("#btnAdd").click(function () {
                $("#btnSavePlan").show();
                //$("#btnSave").removeAttr("disabled");
                $("#btnSave").hide();//添加时，隐藏普通按钮
                $("#hTit").html("新增配件计划信息");
                //清空数据
                $("#txtOrderCode").val("");
                $("#txtOrderCodeRel").val("");
                $("#txtStorageOrgUnit").val("1.41.1");
                $("#txtTransactionType").val("1");
                $("#txtProdModelName").val("");
                $("#hidProdModelID").val("");//将产品型号 隐藏域文本值清空
                $("#hidDrawingNo").val("");//将图号 隐藏域文本值清空
                $("#txtProject").val("");
                $("#txtTrackNumber").val("");
                $("#txtPlanQty").val("");
                $("#txtStartTime").val("");
                $("#txtEndTime").val("");
                $("#txtDescription").val("");
                $("#txtAdminOrgUnitID").val("组一班");
                $("#txtRemark").val("");
                $("#txtbizDate").val("");
                $("#txtpp_projectName").val("");
                $("#txtwagonNo1").val("");
                $("#txtwagonNo2").val("");
            });


            //初始化下拉框
            //InitDDL();

            //产品型号-图号 下拉
            InitDatalistDDL();

        });

        //初始化下拉框
        function InitDDL() {
            leonhelper.callByAjax("/Plan/GetProdModel", {}, function (data) {
                if (data && data.length > 0) {
                    var strQ = "<option>全部</option>";
                    var str = "";
                    for (var i = 0; i < data.length; i++) {
                        strQ += '<option value="' + data[i].ID + '">' + data[i].Pmodel + '</option>';
                        str += '<option class="ProdModelItem" value="' + data[i].Pmodel + '" data-value="' + data[i].Pmodel + '" data-id="' + data[i].ID + '">' + data[i].Pmodel + '</option>';
                    }
                    $("#selQProdModel").empty(); //清空
                    $("#selQProdModel").append(strQ);
                    $("#hasProductInfo").empty(); //清空
                    $("#hasProductInfo").append(str);
                }
            });
        }


        //初始化下拉框
        function InitDatalistDDL() {
            leonhelper.callByAjax("/Plan/GetProductDrawingNoList", {
            }, function (data) {
                if (data && data.length > 0) {
                    data = null2str(data);
                    var strSs = '';//产品型号(图号) 加载string
                    for (var i = 0; i < data.length; i++) {
                        strSs += ' <option class="productItem" value="' + data[i].PmodelDrawingNo + '"   data-id="' + data[i].ID + '" data-pid="' + data[i].PID + '" data-pmodel="' + data[i].Pmodel + '" data-drawingno="' + data[i].DrawingNo + '"  ></option>';
                    }
                    $("#hasProdModelInfo").empty(); //清空 datalist 可查询框
                    $("#hasProdModelInfo").append(strSs);
                }
            });
        }



        //产品型号（图号）信息change事件
        $("#txtProdModelName").change(function () {
            $("#hidProdModelID").val("");//清空,防错行 产品型号ID
            $("#hidDrawingNo").val("");//清空,防错行 图号
            //当前datalist上input的文本值
            var input_select = $("#txtProdModelName").val();
            var option_length = $(".productItem").length;
            var option_id = '';
            var option_DrawingNo = '';
            for (var i = 0; i < option_length; i++) {
                var option_value = $(".productItem").eq(i).val();
                if (input_select == option_value) {
                    option_id = $(".productItem").eq(i).attr('data-id');
                    option_DrawingNo = $(".productItem").eq(i).attr('data-drawingno');
                    break;
                }
            }
            $("#hidProdModelID").val(option_id);
            $("#hidDrawingNo").val(option_DrawingNo);
        });


        //编辑计划
        function EditData(pp_orderCode, pp_orderCodeRel, pp_storageOrgUnit, pp_transactionType, pp_prodModelID, pp_material, PmodelDrawingNo, pp_project, pp_trackNumber, pp_status, pp_planQty, pp_startDateText, pp_finishDateText, pp_description, pp_adminOrgUnitID, pp_remark, pp_bizDateText, pp_projectName, pp_wagonNo) {
            $("#btnSavePlan").hide();
            $("#btnSave").show();//显示普通按钮
            $("#hTit").html("编辑配件计划信息");
            $("#txtOrderCode").val(pp_orderCode);
            $("#txtOrderCodeRel").val(pp_orderCodeRel);
            $("#txtStorageOrgUnit").val(pp_storageOrgUnit);
            $("#txtTransactionType").val(pp_transactionType);
            $("#txtProdModelName").val(PmodelDrawingNo);
            $("#hidProdModelID").val(pp_prodModelID);//赋值产品型号 隐藏域文本值
            $("#hidDrawingNo").val(pp_material);//赋值图号 隐藏域文本值
            $("#txtProject").val(pp_project);
            $("#txtTrackNumber").val(pp_trackNumber);
            $("#txtPlanQty").val(pp_planQty);
            $("#txtStartTime").val(pp_startDateText);
            $("#txtEndTime").val(pp_finishDateText);
            $("#txtDescription").val(pp_description);
            $("#txtAdminOrgUnitID").val(pp_adminOrgUnitID);
            $("#txtRemark").val(pp_remark);
            $("#txtbizDate").val(pp_bizDateText);
            $("#txtpp_projectName").val(pp_projectName);

            var wagonNo = pp_wagonNo.split('-');
            $("#txtwagonNo1").val(wagonNo[0]);
            $("#txtwagonNo2").val(wagonNo[1]);

            if (pp_status != 0 && pp_status != 4) {
                $("#btnSave").attr("disabled", "disabled");
            } else {
                $("#btnSave").removeAttr("disabled");
            }

        }



        //保存
        $("#btnSave").click(function () {

            var ProdModelID = $("#hidProdModelID").val();
            var ProdModelName = $("#txtProdModelName").val().trim();
            var DrawingNo = $("#hidDrawingNo").val().trim();
            if (ProdModelID == "" && ProdModelName == "") {
                leonhelper.simpleAlert("请选择或输入产品型号(图号)信息", 0);
                $("#txtProdModelName").focus();
                return;
            }

            var StorageOrgUnit = $("#txtStorageOrgUnit").val().trim();
            if (StorageOrgUnit == "") {
                leonhelper.simpleAlert("请输入库存组织编码", 0);
                $("#txtStorageOrgUnit").focus();
                return;
            }
            var TransactionType = $("#txtTransactionType").val().trim();
            if (TransactionType == "") {
                leonhelper.simpleAlert("请输入事务类型编码", 0);
                $("#txtTransactionType").focus();
                return;
            }
            var Project = $("#txtProject").val().trim();
            if (Project == "") {
                leonhelper.simpleAlert("请输入项目号编码", 0);
                $("#txtProject").focus();
                return;
            }
            var TrackNumber = $("#txtTrackNumber").val().trim();
            if (TrackNumber == "") {
                leonhelper.simpleAlert("请输入跟踪号编码", 0);
                $("#txtTrackNumber").focus();
                return;
            }
            var PlanQty = parseInt($("#txtPlanQty").val());
            if (!PlanQty || PlanQty == null || PlanQty == 0) {
                leonhelper.simpleAlert("请输入计划数量", 0);
                $("#txtPlanQty").focus();
                return;
            }

            //var intPlanQty = parseInt(PlanQty);
            //if (!intPlanQty || intPlanQty == null || intPlanQty == 0 || intPlanQty % 4 != 0) {
            //    leonhelper.simpleAlert("计划数量必须为4的倍数，请输入正确的计划数量", 2);
            //    return;
            //}

            var StartTime = $("#txtStartTime").val().trim();
            if (StartTime == "") {
                leonhelper.simpleAlert("请选择或输入计划开始日期", 0);
                $("#txtStartTime").focus();
                return;
            }

            var EndTime = $("#txtEndTime").val().trim();
            if (EndTime == "") {
                leonhelper.simpleAlert("请选择或输入计划结束日期", 0);
                $("#txtEndTime").focus();
                return;
            }

            var AdminOrgUnitID = $("#txtAdminOrgUnitID").val().trim();
            if (AdminOrgUnitID == "") {
                leonhelper.simpleAlert("请输入主制部门", 0);
                $("#txtAdminOrgUnitID").focus();
                return;
            }

            var projectName = $("#txtpp_projectName").val().trim();
            if (projectName == "") {
                leonhelper.simpleAlert("请输入项目名称", 0);
                $("#txtpp_projectName").focus();
                return;
            }


            var txtwagonNo1 = $("#txtwagonNo1").val().trim();
            var txtwagonNo2 = $("#txtwagonNo2").val().trim();
            if (txtwagonNo1 == "") {
                leonhelper.simpleAlert("请输入台车号", 0);
                $("#txtwagonNo1").focus();
                return;
            }

            //if (txtwagonNo2 == "") {
            //    leonhelper.simpleAlert("请输入台车号", 0);
            //    $("#txtwagonNo2").focus();
            //    return;
            //}


            var txtwagonNo = "";

            if (txtwagonNo1 == "" || txtwagonNo2 == "") {
                txtwagonNo = txtwagonNo1;
            } else {
                txtwagonNo = txtwagonNo1 + "-" + txtwagonNo2;
            }
            


            //leonhelper.loading();
            leonhelper.callByAjax("/Plan/SavePartPlan", {
                //strPlanCode: $("#hidID").val(),
                //pp_orderCodeRel: ,
                pp_orderCode: $("#txtOrderCode").val(),
                pp_storageOrgUnit: StorageOrgUnit,
                pp_transactionType: TransactionType,
                pp_material: DrawingNo,
                pp_project: Project,
                pp_trackNumber: TrackNumber,
                pp_prodModelID: ProdModelID,
                pp_planQty: PlanQty,
                pp_startDate: StartTime,
                pp_finishDate: EndTime,
                pp_description: $("#txtDescription").val().trim(),
                pp_adminOrgUnitID: AdminOrgUnitID,
                pp_remark: $("#txtRemark").val().trim(),
                pp_bizDate: $("#txtbizDate").val(),
                pp_projectName: projectName,
                pp_wagonNo: txtwagonNo
            }, function (data) {
                if (data.Result) {
                    leonhelper.simpleAlert(data.Message, 1, function () {
                        location.reload();
                    });
                } else {
                    leonhelper.simpleAlert(data.Message, 2);
                }
            });
        });

        //回车绑定
        document.onkeydown = function () {
            if ((window.event.keyCode || window.event.which) == 13) InitData();
        }


        //计划下发
        function btnIssued(pp_orderCode) {
            leonhelper.simpleConfirm("计划下发后将向库房发送备料申请；</br>之后将不能修改计划明细信息，确认下发吗？", function () {
                leonhelper.loading();
                leonhelper.callByAjax("/Plan/IssuedPartPlan", {
                    pp_orderCode: pp_orderCode
                }, function (data) {
                    if (data.Result) {
                        leonhelper.simpleAlert(data.Message, 1, function () {
                            location.reload();
                        });
                    } else {
                        leonhelper.simpleAlert(data.Message, 2);
                    }
                });

            }, function () { });
        }




        //批量保存
        $("#btnSavePlan").click(function () {


            var ProdModelID = $("#hidProdModelID").val();
            var ProdModelName = $("#txtProdModelName").val().trim();
            var DrawingNo = $("#hidDrawingNo").val().trim();
            if (ProdModelID == "" && ProdModelName == "") {
                leonhelper.simpleAlert("请选择或输入产品型号(图号)信息", 0);
                $("#txtProdModelName").focus();
                return;
            }

            var StorageOrgUnit = $("#txtStorageOrgUnit").val().trim();
            if (StorageOrgUnit == "") {
                leonhelper.simpleAlert("请输入库存组织编码", 0);
                $("#txtStorageOrgUnit").focus();
                return;
            }
            var TransactionType = $("#txtTransactionType").val().trim();
            if (TransactionType == "") {
                leonhelper.simpleAlert("请输入事务类型编码", 0);
                $("#txtTransactionType").focus();
                return;
            }
            var Project = $("#txtProject").val().trim();
            if (Project == "") {
                leonhelper.simpleAlert("请输入项目号编码", 0);
                $("#txtProject").focus();
                return;
            }
            var TrackNumber = $("#txtTrackNumber").val().trim();
            if (TrackNumber == "") {
                leonhelper.simpleAlert("请输入跟踪号编码", 0);
                $("#txtTrackNumber").focus();
                return;
            }
            var PlanQty = parseInt($("#txtPlanQty").val());
            if (!PlanQty || PlanQty == null || PlanQty == 0) {
                leonhelper.simpleAlert("请输入计划数量", 0);
                $("#txtPlanQty").focus();
                return;
            }

            //var intPlanQty = parseInt(PlanQty);
            //if (!intPlanQty || intPlanQty == null || intPlanQty == 0 || intPlanQty % 4 != 0) {
            //    leonhelper.simpleAlert("计划数量必须为4的倍数，请输入正确的计划数量", 2);
            //    return;
            //}

            var StartTime = $("#txtStartTime").val().trim();
            if (StartTime == "") {
                leonhelper.simpleAlert("请选择或输入计划开始日期", 0);
                $("#txtStartTime").focus();
                return;
            }

            var EndTime = $("#txtEndTime").val().trim();
            if (EndTime == "") {
                leonhelper.simpleAlert("请选择或输入计划结束日期", 0);
                $("#txtEndTime").focus();
                return;
            }

            var AdminOrgUnitID = $("#txtAdminOrgUnitID").val().trim();
            if (AdminOrgUnitID == "") {
                leonhelper.simpleAlert("请输入主制部门", 0);
                $("#txtAdminOrgUnitID").focus();
                return;
            }


            var projectName = $("#txtpp_projectName").val().trim();
            if (projectName == "") {
                leonhelper.simpleAlert("请输入项目名称", 0);
                $("#txtpp_projectName").focus();
                return;
            }

            var txtwagonNo1 = $("#txtwagonNo1").val().trim();
            var txtwagonNo2 = $("#txtwagonNo2").val().trim();
            if (txtwagonNo1 == "") {
                leonhelper.simpleAlert("请输入台车号", 0);
                $("#txtwagonNo1").focus();
                return;
            }

            //if (txtwagonNo2 == "") {
            //    leonhelper.simpleAlert("请输入台车号", 0);
            //    $("#txtwagonNo2").focus();
            //    return;
            //}


            var txtwagonNo = "";

            if (txtwagonNo1 == "" || txtwagonNo2 == "") {
                txtwagonNo = txtwagonNo1;
            } else {
                txtwagonNo = txtwagonNo1 + "-" + txtwagonNo2;
            }

            leonhelper.simpleConfirm("批量保存将会根据选择的产品型号(图号)自动生成对应配件工序、备料信息，是否要继续保存？",
            function () {
                leonhelper.loading();
                leonhelper.callByAjax("/Plan/SaveCopyPlan", {
                    //strPlanCode: $("#hidID").val(),
                    //pp_orderCodeRel: ,
                    pp_orderCode: $("#txtOrderCode").val(),
                    pp_storageOrgUnit: StorageOrgUnit,
                    pp_transactionType: TransactionType,
                    pp_material: DrawingNo,
                    pp_project: Project,
                    pp_trackNumber: TrackNumber,
                    pp_prodModelID: ProdModelID,
                    pp_planQty: PlanQty,
                    pp_startDate: StartTime,
                    pp_finishDate: EndTime,
                    pp_description: $("#txtDescription").val().trim(),
                    pp_adminOrgUnitID: AdminOrgUnitID,
                    pp_remark: $("#txtRemark").val().trim(),
                    pp_bizDate: $("#txtbizDate").val(),
                    pp_projectName: projectName,
                    pp_wagonNo: txtwagonNo
                }, function (data) {
                    if (data.Result) {
                        leonhelper.simpleAlert(data.Message, 1, function () {
                            location.reload();
                        });
                    } else {
                        leonhelper.simpleAlert(data.Message, 2);
                    }
                });
            }, function () { });
        });



        $("#btnReset").click(function () {
            $("#LIKEorderCode").val("");
            $("#LIKEorderCodeRel").val("");
            $("#LIKEproject").val("");
            $("#LIKEtrackNumber").val("");
            $("#pp_startDate").val("");
            $("#pp_finishDate").val("");
            $("#pp_status").val(-1);
        });



        //layer.open({
        //    content: '当前计划编码：' + pp_orderCode,
        //    btn: ['确认'],
        //    shadeClose: false
        //});



        $('#btnRemove').click(function () {
            var ids = GetckbValue();//获取复选框的值
            if (ids == "") {
                layer.alert('请至少选择一项计划再进行删除！', { icon: 0 });
                return;
            }
            leonhelper.simpleConfirm("<font style='color:red;'>提示：将会同时删除计划下所有工序、备料信息</font> <br/>确认将以下计划删除吗？<br/>" + ids + " ", function () {

                //加载中样式...
                //var loading = layer.msg('正在删除，请稍等...', {
                //    icon: 16,
                //    shade: [0.7, '#393D49'],
                //    shift: 0,
                //    time: 0,
                //    success: function (layero, index) {
                //        layero.find('.layui-layer-ico').css({
                //            'height': '34px',
                //            'width': '34px'
                //        });
                //    }
                //});

                leonhelper.callByAjax("/Plan/DeletePartPlan", {
                    ids: ids
                }, function (data) {
                    if (data.Result) {
                        //layer.close(loading);
                        window.location.reload();
                    } else {
                        window.location.reload();
                    }
                });
            }, function () { });
        });


    </script>
}
