<link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
<link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/leonstyle.css" rel="stylesheet" />
<link href="~/static/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
<link href="~/static/bootstrap-datepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div class="well" style="padding-bottom:0px;padding-top:15px;">
                        <form role="search">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-auto-lg">
                                        <label class="form-label">计划编码:</label>
                                        <input id="txtQPlanCode" name="pp_planCode" class="form-control input-sm" value="@Request["pp_planCode"]" />
                                        <input style="display:none;" /><!--隐藏文本框防提交-->
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-auto">
                                        <label class="form-label">车号:</label>
                                        <input id="txtQCarNo" name="pf_carNo" class="form-control input-sm" value="@Request["pf_carNo"]" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-auto">
                                        <label class="form-label">电机型号:</label>
                                        <select id="selQProdModel" class="form-control input-sm"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-auto-lg">
                                        <label class="form-label">计划开始时间:</label>
                                        <input id="dtStartTime" name="pp_startDateText" class="form-control input-sm" autocomplete="off" value="@Request["pp_startDateText"]" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-auto-lg">
                                        <label class="form-label">计划结束时间:</label>
                                        <input id="dtEndTime" name="pp_finishDateText" class="form-control input-sm" autocomplete="off" value="@Request["pp_finishDateText"]" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-auto text-right">
                                        @if (RW.PMS.Common.Auth.SystemAuth.IsHasAuth(RW.PMS.Common.Auth.AuthType.Add, ViewBag.AuthVal))
                                        {
                                            <button id="btnAdd" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#divModal">
                                                <i class="fa fa-plus"></i>
                                                新增
                                            </button>
                                        }
                                        @*<a class="btn btn-success btn-sm" href="/Check/DefProductInfo"><i class="fa fa-undo"></i>后退</a>*@
                                        <a class="btn btn-primary btn-sm"><i class="fa fa-repeat"></i>重置</a>
                                        <a class="btn btn-primary btn-sm" onclick="InitData()"><i class="fa fa-search"></i>查询</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--表-->
                    <div class="table">
                        <table id="tbMainList" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>计划编号</th>
                                    <th>车辆系统编号</th>
                                    <th>电机型号</th>
                                    <th>计划数量</th>
                                    <th>计划开始时间</th>
                                    <th>计划结束时间</th>
                                    <th>状态</th>
                                    <th>备注</th>
                                    <th width="10%">操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="divModal" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="hTit"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-auto-lg">
                                <label class="form-label"><span class="red">&nbsp;</span>计划编码: </label>
                                <input id="txtPlanCode" class="form-control input-sm" disabled="disabled" placeholder="系统将自动生成编码" />
                                <input id="hidID" type="hidden" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-auto-lg">
                                <label class="form-label"><span class="red">*</span>车号:</label>
                                <input id="txtCarNo" list="hasSubWayInfo" class="form-control input-sm" placeholder="请选择车辆信息或输入车号">
                                <datalist id="hasSubWayInfo">
                                    @if (ViewBag.SubwayInfoList != null)
                                    {
                                        foreach (RW.PMS.Model.BaseInfo.SubwayInfoModel item in ViewBag.SubwayInfoList)
                                        {
                                            string strText = @item.carNo + " - " + @item.prodModelName + " - " + @item.motorCnt;
                                            <option class="SubwayItem" value="@item.carNo_sys" data-value="@item.carNo_sys" data-id="@item.ID" data-modelid="@item.prodModelID" data-modelname="@item.prodModelName"
                                                    data-prodqty="@item.motorCnt">
                                                @strText
                                            </option>
                                        }
                                    }
                                </datalist>
                                <input id="hidSubwayID" type="hidden" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-auto-lg">
                                <label class="form-label"><span class="red">*</span>电机类型:</label>
                                <!--HTML5 input+datalist IE9以下不支持-->
                                <input id="selProdModel" list="hasProductInfo" class="form-control input-sm" placeholder="请选择或输入电机类型">
                                <datalist id="hasProductInfo"></datalist>
                                <input id="hidProdModelID" type="hidden" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-auto-lg">
                                <label class="form-label"><span class="red">*</span>计划数量: </label>
                                <input id="txtPlanQty" class="form-control input-sm" placeholder="请输入计划数量" onkeyup="this.value=this.value.replace(/\D/g,'')" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-auto-lg">
                                <label class="form-label"><span class="red">*</span>计划开始日期: </label>
                                <input id="txtStartTime" class="form-control input-sm" placeholder="请选择或输入计划开始日期" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-auto-lg">
                                <label class="form-label"><span class="red">*</span>计划结束日期: </label>
                                <input id="txtEndTime" class="form-control input-sm" placeholder="请选择或输入计划结束日期" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-auto-lg">
                                <label class="form-label"><span class="red">&nbsp;</span>备注: </label>
                                <input id="txtRemark" class="form-control input-sm" placeholder="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnSave" class="btn btn-primary btn-sm"><i class="fa fa-save"></i>保存</button>
                    <button class="btn btn-primary btn-sm" data-dismiss="modal" aria-label="Close"><i class="fa fa-share"></i>返回</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section js{
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/leon/leonhelper.js"></script>
    <script src="~/Scripts/datatables/jquery.dataTables.min.js"></script>
    <script src="~/static/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/static/bootstrap-datepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/static/bootstrap-datepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script>
        $(document).ready(function () {
            //设置DataTable
            leonhelper.setDataTableNoSort($("#tbMainList"));

            //时间框参数(查询条件)
            var dtQPara = {
                format: "yyyy-mm-dd",//格式
                weekStart: 1,//一周从何时开始，0为周日
                autoclose: true,//自动关闭
                language: "zh-CN",//语言,默认英文
                todayBtn: "linked",//今日按钮
                todayHighlight: true,//高亮当前日期
                minView: "month"//最小视图(最精确的时间) 默认 0 "hour" 选分钟
            };

            //时间框参数(编辑框)
            var dtPara = {
                format: "yyyy-mm-dd hh:ii",//格式
                weekStart: 1,//一周从何时开始，0为周日
                autoclose: true,//自动关闭
                language: "zh-CN",//语言,默认英文
                todayBtn: "linked",//今日按钮
                todayHighlight: true,//高亮当前日期
                //startDate: new Date(),//最早开始日期
                //minView: "month",//最小视图(最精确的时间) 默认 0 "hour" 选分钟
                minuteStep: 1,//步进值,默认5分钟
                showMeridian: true,//显示上下午,默认false
                //initialDate: new Date(),//打开时默认选择的日期,默认new date()
                //startView: 1, //日期时间选择器打开之后首先显示的视图
            }

            //计划开始时间
            $('#dtStartTime').datetimepicker(dtQPara);

            //计划结束时间
            $('#dtEndTime').datetimepicker(dtQPara);

            //计划开始时间（编辑框）
            $('#txtStartTime').datetimepicker(dtPara);

            //计划结束时间（编辑框）
            $('#txtEndTime').datetimepicker(dtPara);

            //保存
            $("#btnSave").click(function () {

                var SubwayID = $("#hidSubwayID").val();
                var CarNo = $("#txtCarNo").val().trim();
                if (SubwayID == "" && CarNo == "") {
                    leonhelper.simpleAlert("请选择或输入车号信息", 2);
                    return;
                }

                var ProdModelID = $("#hidProdModelID").val();
                if (ProdModelID == "") {
                    leonhelper.simpleAlert("请选择或输入电机类型", 2);
                    return;
                }

                var PlanQty = $("#txtPlanQty").val().trim();
                if (PlanQty == "") {
                    leonhelper.simpleAlert("请输入计划数量", 2);
                    return;
                }

                var StartTime = $("#txtStartTime").val().trim();
                if (StartTime == "") {
                    leonhelper.simpleAlert("请选择或输入计划开始日期", 2);
                    return;
                }

                var EndTime = $("#txtEndTime").val().trim();
                if (EndTime == "") {
                    leonhelper.simpleAlert("请选择或输入计划结束日期", 2);
                    return;
                }

                leonhelper.loading();
                leonhelper.callByAjax("/Plan/SavePlan", {
                    pp_guid: $("#hidID").val(),
                    pp_subwayInfoID: SubwayID,
                    pf_carNo: CarNo,
                    pp_prodModelID: ProdModelID,
                    pp_planQty: PlanQty,
                    pp_startDate: StartTime,
                    pp_finishDate: EndTime,
                    pp_remark: $("#txtRemark").val().trim()
                }, function (data) {
                    if (data.Result) {
                        leonhelper.simpleAlert(data.Message, 1, function () {
                            InitData();
                            $("#divModal").modal("hide");
                        });
                    } else {
                        leonhelper.simpleAlert(data.Message, 2);
                    }
                });
            });

            //新增按钮点击事件
            $("#btnAdd").click(function () {
                $("#hTit").html("新增计划");
                //清空数据
                var now = new Date();//当前时间
                var tomorrow = new Date(new Date().setDate(now.getDate() + 1));//明天
                $("#hidID").val("");
                $("#txtPlanCode").val("");
                $("#txtCarNo").val("");
                $("#hidSubwayID").val("");
                $("#selProdModel").val("");
                $("#hidProdModelID").val("");
                $("#txtPlanQty").val("");
                $('#txtStartTime').val(now.format("yyyy-MM-dd hh:mm"));
                $('#txtEndTime').val(tomorrow.format("yyyy-MM-dd hh:mm"));
                $("#txtRemark").val("");
            });

            //车辆信息change事件
            $("#txtCarNo").change(function () {
                $("#hidSubwayID").val("");//清空,防错行
                var input_select = $("#txtCarNo").val();
                var option_length = $(".SubwayItem").length;
                var option_id = '';
                var option_modelid = '';
                var option_modelname = '';
                var option_prodqty = '';
                for (var i = 0; i < option_length; i++) {
                    var option_value = $(".SubwayItem").eq(i).attr('data-value');
                    if (input_select == option_value) {
                        option_id = $(".SubwayItem").eq(i).attr('data-id');
                        option_modelid = $(".SubwayItem").eq(i).attr('data-modelid');
                        option_modelname = $(".SubwayItem").eq(i).attr('data-modelname');
                        option_prodqty = $(".SubwayItem").eq(i).attr('data-prodqty');
                        break;
                    }
                }
                $("#hidSubwayID").val(option_id);
                $("#selProdModel").val(option_modelname);
                $("#hidProdModelID").val(option_modelid);
                $("#txtPlanQty").val(option_prodqty);
            });

            //电机型号change事件
            $("#selProdModel").change(function () {
                $("#hidProdModelID").val("");//清空,防错行
                var input_select = $("#selProdModel").val();
                var option_length = $(".ProdModelItem").length;
                var option_id = '';
                for (var i = 0; i < option_length; i++) {
                    var option_value = $(".ProdModelItem").eq(i).attr('data-value');
                    if (input_select == option_value) {
                        option_id = $(".ProdModelItem").eq(i).attr('data-id');
                        break;
                    }
                }
                $("#hidProdModelID").val(option_id);
                //console.log(input_select, option_length, option_id);
            });

            //初始化下拉框
            InitDDL();

            //初始化数据
            InitData();
        });

        //初始化下拉框
        function InitDDL() {
            leonhelper.callByAjax("/Plan/GetProdModel", {}, function (data) {
                if (data && data.length > 0) {
                    var strQ = "<option>全部</option>";
                    var str = "";
                    for (var i = 0; i < data.length; i++) {
                        strQ += '<option value="' + data[i].ID + '">' + data[i].Pmodel + '</option>';
                        str += '<option class="ProdModelItem" value="' + data[i].Pmodel + '" data-value="' + data[i].Pmodel + '" data-id="' + data[i].ID + '">' + data[i].Pmodel + '</option>';
                    }
                    $("#selQProdModel").empty(); //清空
                    $("#selQProdModel").append(strQ);
                    $("#hasProductInfo").empty(); //清空
                    $("#hasProductInfo").append(str);
                }
            });
        }

        //初始化数据
        function InitData() {
            leonhelper.callByAjax("/Plan/GetPlanList", {
                LIKEPlanCode: $("#txtQPlanCode").val().trim(),
                LIKECarNo: $("#txtQCarNo").val().trim(),
                pp_prodModelID: $("#selQProdModel").val(),
                pp_startDate: $("#dtStartTime").val(),
                pp_finishDate: $("#dtEndTime").val()
            }, function (data) {
                var page = $(".current").text();
                page = parseInt(page) || 1;
                page = page - 1;
                $('#tbMainList').dataTable().fnClearTable();//清空
                if (data && data.length > 0) {
                    data = null2str(data);
                    var str = "";
                    var tableData = new Array(data.length);
                    for (var i = 0; i < data.length; i++) {
                        var m = data[i];
                        arrary = [];
                        arrary.push(m.pp_planCode);
                        arrary.push(m.carNo_sys);
                        arrary.push(m.Pmodel);
                        arrary.push(m.pp_planQty);
                        arrary.push(m.pp_startDateText);
                        arrary.push(m.pp_finishDateText);
                        arrary.push(m.pp_statusText);
                        arrary.push(m.pp_remark);
                        arrary.push("<a class='btn btn-danger btn-sm' onclick=\"DeleteData(\'" + m.pp_guid + "\')\"><i class='fa fa-trash-o'></i>删除</a>");
                        tableData[i] = arrary;
                    }
                    $('#tbMainList').dataTable().fnAddData(tableData);  //重新绑定table数据
                    $('#tbMainList').dataTable().fnPageChange(page);
                }
            });
        }

        //编辑
        function EditData(id, PlanCode, CarNoSys, SubwayID, ProdModel, ProdModelID, PlanQty, StartTime, EndTime, Remark) {
            $("#hTit").html("编辑计划");

            $("#hidID").val(id);
            $("#txtPlanCode").val(PlanCode);
            $("#txtCarNo").val(CarNoSys);
            $("#hidSubwayID").val(SubwayID);
            $("#selProdModel").val(ProdModel);
            $("#hidProdModelID").val(ProdModelID);
            $("#txtPlanQty").val(PlanQty);
            $("#txtStartTime").val(StartTime);
            $("#txtEndTime").val(EndTime);
            $("#txtRemark").val(Remark);
        }

        //删除
        function DeleteData(id) {
            leonhelper.simpleConfirm("确认删除此条数据吗？", function () {
                leonhelper.callByAjax("/Plan/DeletePlan", {
                    id: id
                }, function (data) {
                    if (data.Result) {
                        leonhelper.simpleAlert(data.Message, 1, function () {
                            leonhelper.loading();
                            location.reload();
                        });
                    } else {
                        leonhelper.simpleAlert(data.Message, 2);
                    }
                });
            }, function () { });
        }
    </script>
}