<link href="~/Content/leonstyle.css" rel="stylesheet" />
<link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />



<div class="container-fluid">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <div>
                <div class="form-group">
                    <div class="shadow-none p-3 mb-1 bg-light rounded">
                        <form class="form-inline text-left" role="search">

                            <div class="form-group">
                                <label for="name">处理结果：</label>
                                <select class="form-control" name="Fa_isok">
                                    <option value="-1">全部</option>
                                    <option value="0" @("0" == Request["Fa_isok"] ? "selected" : "")>待处理</option>
                                    <option value="1" @("1" == Request["Fa_isok"] ? "selected" : "")>已解决</option>
                                </select>
                            </div>
                            &nbsp;&nbsp;
                            <div class="form-group" style="margin-left:10px;">
                                <label for="name">区域名称：</label>
                                <select class="form-control" name="Fa_areaID">
                                    <option value="-1" selected="selected">--全部--</option>
                                    @{
                                        foreach (var item in ViewBag.AreaInfo)
                                        {
                                            <option value="@item.ID" @(item.ID.ToString() == Request["Fa_areaID"] ? "selected" : "")>@item.bdname</option>
                                        }
                                    }
                                </select>
                            </div>
                            &nbsp;&nbsp;
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary"> <i class="fa fa-search"></i>查询</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table">
                <table class="table table-bordered table-hover">
                    <thead style="background-color:#c8c8fa;">
                        <tr style="background: #1a749a;color:#f3f0f0; text-align:center;">
                            <th style="width:110px;">流水号编码</th>
                            <th style="width:110px;">区域名称</th>
                            <th style="width:110px;">工位名称</th>
                            <th style="width:110px;">操作员名称</th>
                            <th style="width:110px;">反馈时间</th>
                            <th >反馈信息</th>
                            <th>备注</th>
                            <th>反馈结果</th>
                            <th >处理方案</th>
                            <th style="width:110px;">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (RW.PMS.Model.Follow.FollowAbnormalModel item in ViewBag.FollowAbnormalList)
                            {
                                <tr>
                                    <td>@item.fa_orderCode</td>
                                    <td>@item.fa_areaName</td>
                                    <td>@item.fa_gwName</td>
                                    <td>@item.fa_oper</td>
                                    <td>@item.fa_createtime</td>
                                    <td>@item.fa_feedMemo</td>
                                    <td>@item.fa_remark</td>
                                    <td>@item.IsokText</td>
                                    <td>@item.fa_result</td>
                                    <td>
                                        @if (RW.PMS.Common.Auth.SystemAuth.IsHasAuth(RW.PMS.Common.Auth.AuthType.Edit, ViewBag.AuthVal))
                                        {
                                            <a class="btn btn-primary btn-sm" href="/Abnormal/EditFollowFeedback/@item.ID" role="button"><i class="fa fa-edit"></i>处理</a>
                                        }
                                    </td>
                                </tr>
                            }
                            if (ViewBag.FollowAbnormalList == null || ViewBag.FollowAbnormalList.Count == 0)
                            {
                                <tr><td colspan="10" class="text-center">暂无任何数据！</td></tr>
                            }
                        }
                    </tbody>
                </table>
                @Html.Partial("ServerPaging", new RW.PMS.Web.Models.PaggingModel { TotalCount = ViewBag.TotalCount, ShowPages = 5, Url = "/Abnormal/FollowFeedback?Fa_isok=" + Request["Fa_isok"] + "&Fa_areaID=" + Request["Fa_areaID"] })
            </div>
        </div>
    </div>
</div>
