@section css{
    <link href="~/static/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    @*<link href="~/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/leonstyle.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />

}

<div class="container-fluid">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <div class="form-group">
                @if (RW.PMS.Common.Auth.SystemAuth.IsHasAuth(RW.PMS.Common.Auth.AuthType.CheckAll, ViewBag.AuthVal))
                {
                    <button type="button" class="btn btn-primary checkbox-toggle">
                        <i class="far fa-square"> 全选</i>
                    </button>
                        @*<a class="btn btn-primary" href="javascript:void(0);" onclick="checkAll(this);">
                                <span><i id="checkEnable" class="glyphicon glyphicon-ok-sign">全选</i></span>
                            </a>*@
                }
                @if (RW.PMS.Common.Auth.SystemAuth.IsHasAuth(RW.PMS.Common.Auth.AuthType.Add, ViewBag.AuthVal))
                {
                    <a class="btn btn-warning" href="/BaseInfo/AddBaseProduct"><i class="fa fa-plus"> 新增</i></a>
                }
                @if (RW.PMS.Common.Auth.SystemAuth.IsHasAuth(RW.PMS.Common.Auth.AuthType.Delete, ViewBag.AuthVal))
                {
                    <a class="btn btn-danger" href="javascript:void(0);" onclick="show_modal();"><i class="fas fa-times"> 删除</i></a>
                }
            </div>

            <div class="shadow-none p-3 mb-1 bg-light rounded">
                <form class="form-inline text-left" role="search">
                    <div class="form-group">
                        <label>产品名称：</label>
                        <input name="Pname" type="text" value="@Request["Pname"]" class="form-control" placeholder="输入产品名称查找">
                    </div>
                    &nbsp;&nbsp;
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search"> 查询</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>


        <div class="card-body">
            <div class="table">
                <table class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                    <thead style="background-color:#c8c8fa">
                        <tr style="background: #1a749a;color:#f3f0f0; text-align:center;">
                            <th style="width: 60px;">选择</th>
                            <th>产品名称</th>
                            <th>状态</th>
                            <th>备注</th>
                            <th width="11%">操作</th>
                        </tr>
                    </thead>
                    <tbody id="tb_role">
                        @{
                            foreach (RW.PMS.Model.BaseInfo.BaseProductModel item in ViewBag.BaseProductlist)
                            {
                                <tr>
                                    <td align="center">
                                        <input type="checkbox" name="ids" class="checkall" value="@item.ID" />
                                    </td>
                                    <td>@item.Pname</td>
                                    <td>@item.status</td>
                                    <td>@item.remark</td>
                                    <td>
                                        @if (RW.PMS.Common.Auth.SystemAuth.IsHasAuth(RW.PMS.Common.Auth.AuthType.Edit, ViewBag.AuthVal))
                                        {
                                            <a class="btn btn-primary btn-sm" href="/BaseInfo/EditBaseProduct/@item.ID" role="button"><i class="fa fa-edit"> 编辑</i></a>
                                            <a class="btn  btn-info btn-sm" href="/BaseInfo/BaseProductModel?PID=@item.ID" role="button"><i class="fas fa-bars"> 产品型号</i></a>
                                        }
                                    </td>
                                </tr>
                            }
                            if (ViewBag.BaseProductlist == null || ViewBag.BaseProductlist.Count == 0)
                            {
                                <tr>
                                    <td colspan="5" class="text-center">暂无任何数据！</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @Html.Partial("ServerPaging", new RW.PMS.Web.Models.PaggingModel { TotalCount = ViewBag.TotalCount, ShowPages = 5, Url = "/BaseInfo/BaseProduct?Pname=" + Request["Pname"] })
            </div>
        </div>
    </div>
</div>



<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">系统提示</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">确定要删除该产品信息吗？</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="btnSave">确定</button>
            </div>
        </div>
    </div>
</div>

@section js{
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/leon/leonhelper.js"></script>
    <script type="text/javascript">
        function show_modal() {
            $('#myModal').modal('show');
        }
        $(function () {
            $('#btnSave').click(function () {
                var id = GetckbValue();//获取复选框的值
                if (id == "") {
                    Modal.alert("没有可要删除的数据!");
                    return;
                }
                $.ajax({
                    url: "/BaseInfo/DelBaseProduct",
                    type: "post",
                    dataType: "json",
                    data: "{id:'" + id + "'}",
                    contentType: "application/json",
                    success: function (data) {
                        Modal.alert({
                            text: data.Message, callback: function () {
                                if (data.Result)
                                    window.location.reload(true);
                                else
                                    window.location.reload(true);
                            }
                        });
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });
            });
        });
    </script>
}
