@{
    ViewBag.Title = "BasePartGongxu";
}

<link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
<link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/static/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
<link href="~/Content/leonstyle.css" rel="stylesheet" />
<link href="~/static/boostrap-checkbox/Font-Awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/static/boostrap-checkbox/build.css" rel="stylesheet" />
<style>
    /*dataList显示下拉图标*/
    input::-webkit-calendar-picker-indicator {
        opacity: 100;
    }
</style>



<div class="container-fluid">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <div>
                <div class="form-group">
                    @if (RW.PMS.Common.Auth.SystemAuth.IsHasAuth(RW.PMS.Common.Auth.AuthType.Add, ViewBag.AuthVal))
                    {
                        <button id="btnAdd" type="button" class="btn btn-warning" data-toggle="modal" data-target="#divModal">
                            <i class="fas fa-plus"> 新增</i>
                        </button>
                    }
                    @if (RW.PMS.Common.Auth.SystemAuth.IsHasAuth(RW.PMS.Common.Auth.AuthType.Delete, ViewBag.AuthVal))
                    {
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delModel">
                            <i class="fas fa-times"> 删除</i>
                        </button>
                    }
                    @if (ViewBag.prodModelID.ToString() != "0")
                    {
                        <a class="btn btn-success pull-right" href="/BaseInfo/BaseproductModel?PID=@ViewBag.PID"><i class="fa fa-undo"> 后退</i></a>
                    }
                </div>


                <div class="shadow-none p-3 mb-1 bg-light rounded">
                    <form class="" role="search">
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-auto-lg">
                                    <label class="form-label"><span class="red">&nbsp;</span>产品型号（图号）:</label>
                                    <!--HTML5 input+datalist IE9以下不支持-->
                                    <select id="selProdModelIDSelect" class="form-control" @(ViewBag.prodModelID.ToString() == "0" ? "" : "disabled")>
                                        <option value="0">--全部--</option>
                                        @if (ViewBag.ProductDrawingNoModelList != null)
                                        {
                                            foreach (RW.PMS.Model.BaseInfo.BaseProductModelModel item in ViewBag.ProductDrawingNoModelList)
                                            {
                                                <option value="@item.ID" @(ViewBag.prodModelID.ToString() == item.ID.ToString() ? "selected" : "" )>@item.PmodelDrawingNo</option>
                                            }
                                        }
                                    </select>

                                    @*<input id="txtProdModelName" list="hasProdModelInfo" class="form-control input-sm" placeholder="可选择或输入产品型号（图号）" value="" autocomplete="off">
                                        <datalist id="hasProdModelInfo">

                                            //string strText = "";
                                            <option class="productItem" value="@item.PmodelDrawingNo" data-id="@item.ID" data-pid="@item.PID" data-pmodel="@item.Pmodel" data-drawingno="@item.DrawingNo"></option>

                                        </datalist>*@
                                    <input id="hidProdModelID" type="hidden" value="@(ViewBag.prodModelID.ToString() == "0" ? "0" : ViewBag.prodModelID)" />
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-auto">
                                    <label class="form-label">工序名称:</label>
                                    <input id="txtLIKEOperationName" name="Gxname" class="form-control" autocomplete="off" placeholder="请输入工序名称查找" value="" />
                                    <input style="display:none;" /><!--隐藏文本框防提交 txtProcessName-->
                                </div>
                            </div>

                            <div class="col-sm-1">
                                <div class="form-group">
                                    @*text-right*@
                                    <a role="button" class="btn btn-primary text-white" onclick="InitData()"><i class="fa fa-search"> 查询</i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--表-->
        <div class="card-body">
            <div class="table">
                <table id="tbMainList" class="table table-striped table-bordered table-nowrap" style="display:none;">
                    <thead>
                        <tr style="background: #1a749a;color:#f3f0f0; text-align:center;">
                            <th width="10px"><input id="checkAll" name="checkAll" type="checkbox" class="checkbox" onclick="leonhelper.checkAll(this)" /></th>
                            <th>工艺委托类型</th>
                            <th>工作中心编码</th>
                            <th>工作中心名称</th>
                            <th>工序编码</th>
                            <th>工序名称</th>
                            <th>工序号</th>
                            <th>产品型号（图号）</th>
                            @*<th>检验点</th>
                                <th>汇报点</th>
                                <th>入库点</th>*@
                            @*<th>委外厂商编码</th>
                                <th>开工台位编码</th>
                                <th>生产工序别号</th>
                                <th>生产加工说明</th>*@
                            <th>状态</th>
                            @*<th>备注</th>*@
                            <th>操作</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModal" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="hTit">新增计划工序维护信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-horizontal">

                    <input id="hidID" type="hidden" />

                    <div class="row">
                        <div class="col-sm-6">
                            <small style="color: red; font-size: 20px;"> * </small>
                            <label class="control-label" for="name">工艺委托类型:</label>
                            <select class="form-control" id="selEntrustType"></select>
                        </div>
                        <div class="col-sm-6">
                            <small style="color: red; font-size: 20px;"> * </small>
                            <label class="control-label" for="name">工艺中心:</label>
                            <input id="txtWorkCenterName" list="hasWorkCenterInfo" class="form-control" placeholder="可选择或输入工艺中心编码/名称" autocomplete="off">
                            <datalist id="hasWorkCenterInfo"></datalist>
                            <input id="hidWorkCenterCode" type="hidden" />
                            <input id="hidWorkCenterName" type="hidden" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <small style="color: red; font-size: 20px;"> * </small>
                            <label class="control-label" for="name">工序编码: </label>
                            <input id="txtOperationCode" class="form-control" placeholder="请输入工序编码" />
                        </div>
                        <div class="col-sm-6">
                            <small style="color: red; font-size: 20px;"> * </small>
                            <label class="control-label col-sm-4" for="name">工序名称: </label>
                            <input id="txtoperationName" class="form-control" placeholder="请输入工序名称" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <small style="color: red; font-size: 20px;"> * </small>
                            <label class="control-label" for="name">工序号: </label>
                            <input id="txtOperationNo" class="form-control" placeholder="请输入工序号" />
                        </div>
                        <div class="col-sm-6">
                            <small style="color: red; font-size: 20px;"> * </small>
                            <label class="control-label" for="name">产品型号（图号）: </label>
                            <select id="selProdModelID" class="form-control"> </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small style="color: white; font-size: 20px;"> * </small>
                            <label class="control-label text-success" for="name">检验点:</label>
                            <div class="form-check form-check-inline radio">
                                <input class="form-check-input" type="radio" name="rdoIsCheckPoint" id="rdoIsCheckPointYES" value="1">
                                <label class="form-check-label" for="rdoIsCheckPointYES"> 是 </label>
                            </div>
                            <div class="form-check form-check-inline radio">
                                <input class="form-check-input" type="radio" name="rdoIsCheckPoint" id="rdoIsCheckPointNO" value="0" checked>
                                <label class="form-check-label" for="rdoIsCheckPointNO"> 否 </label>
                            </div>
                        </div>
                        <div class="col">
                            <small style="color: white; font-size: 20px;"> * </small>
                            <label class="control-label text-yellow" for="name">汇报点:</label>
                            <div class="form-check form-check-inline radio">
                                <input class="form-check-input" type="radio" name="rdoIsReportPoint" id="rdoIsReportPointYES" value="1">
                                <label class="form-check-label" for="rdoIsReportPointYES"> 是 </label>
                            </div>
                            <div class="form-check form-check-inline radio">
                                <input class="form-check-input" type="radio" name="rdoIsReportPoint" id="rdoIsReportPointNO" value="0" checked>
                                <label class="form-check-label" for="rdoIsReportPointNO"> 否 </label>
                            </div>
                        </div>
                        <div class="col">
                            <small style="color: white; font-size: 20px;"> * </small>
                            <label class="control-label text-primary" for="name">入库点:</label>
                            <div class="form-check form-check-inline radio">
                                <input class="form-check-input" type="radio" name="rdoIsPickingPoint" id="rdoIsPickingPointYES" value="1">
                                <label class="form-check-label" for="rdoIsPickingPointYES"> 是 </label>
                            </div>
                            <div class="form-check form-check-inline radio">
                                <input class="form-check-input" type="radio" name="rdoIsPickingPoint" id="rdoIsPickingPointNO" value="0" checked>
                                <label class="form-check-label" for="rdoIsPickingPointNO"> 否 </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <small style="color: white; font-size: 20px;"> * </small>
                            <label class="control-label" for="name">委外厂商编码:</label>
                            <input id="txtEntrustSupplierCode" class="form-control" placeholder="请输入委外厂商编码" autocomplete="off" />
                        </div>
                        <div class="col-sm-6">
                            <small style="color: white; font-size: 20px;"> * </small>
                            <label class="control-label" for="name">开工台位编码:</label>
                            <input id="txtTaiweiCode" class="form-control" placeholder="请输入开工台位编码" autocomplete="off" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <small style="color: white; font-size: 20px;"> * </small>
                            <label class="control-label" for="name">生产工序别号:</label>
                            <input id="txtOpertionAlias" class="form-control" placeholder="请输入生产工序别号" autocomplete="off" />
                        </div>
                        <div class="col-sm-6">
                            <small style="color: white; font-size: 20px;"> * </small>
                            <label class="control-label" for="name">生产加工说明:</label>
                            <input id="txtProInstruction" class="form-control" type="text" placeholder="请输入生产加工说明" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <small style="color: white; font-size: 20px;"> * </small>
                            <label class="control-label" for="name">状态: </label>
                            <select id="selStatus" class="form-control">
                                <option value="0">启用</option>
                                <option value="1">禁用</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <small style="color: white; font-size: 20px;"> * </small>
                            <label class="control-label" for="name">备注:</label>
                            <textarea rows="1" id="txtRemark" class="form-control" placeholder="备注" style="resize:none;"></textarea>
                        </div>
                    </div>

                 

                </div>
            </div>

            <div class="modal-footer">
                <button id="btnSave" class="btn btn-primary"><i class="fa fa-save"> 保存</i></button>
                <button class="btn btn-success" data-dismiss="modal" aria-label="Close"><i class="fa fa-share"> 返回</i></button>
            </div>

        </div>
    </div>
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="delModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">系统提示</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">确定要删除选中的计划工序维护信息吗？</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="btnDel">确定</button>
            </div>
        </div>
    </div>
</div>

@section js{
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/datatables/jquery.dataTables.min.js"></script>
    <script src="~/static/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/Content/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="~/Content/bootstrap-fileinput/js/locales/zh.js"></script>
    <script src="~/Scripts/leon/leonhelper.js"></script>
    <script>
        

        //产品型号（图号）信息change事件
        $("#txtProdModelName").change(function () {
            $("#hidProdModelID").val("");//清空,防错行
            var input_select = $("#txtProdModelName").val();
            var option_length = $(".productItem").length;
            var option_id = '';
            for (var i = 0; i < option_length; i++) {
                var option_value = $(".productItem").eq(i).val();
                if (input_select == option_value) {
                    option_id = $(".productItem").eq(i).attr('data-id');
                    break;
                }
            }
            $("#hidProdModelID").val(option_id);
        });


        //工艺中心信息change事件
        $("#txtWorkCenterName").change(function () {
            $("#hidWorkCenterCode").val("");//清空隐藏域 工艺中心编码
            $("#hidWorkCenterName").val("");//清空隐藏域 工艺中心名称
            //当前datalist上input的文本值
            var input_select = $("#txtWorkCenterName").val();
            var option_length = $(".workcenterItem").length;
            var option_id = '';
            var option_code = '';
            var option_name = '';
            for (var i = 0; i < option_length; i++) {
                var option_value = $(".workcenterItem").eq(i).val();
                if (input_select == option_value) {
                    option_id = $(".workcenterItem").eq(i).attr('data-id');
                    option_code = $(".workcenterItem").eq(i).attr('data-code');
                    option_name = $(".workcenterItem").eq(i).attr('data-name');
                    break;
                }
            }
            $("#hidWorkCenterCode").val(option_code);
            $("#hidWorkCenterName").val(option_name);
        });



        $(document).ready(function () {

            //初始化下拉框
            InitDDL();

            //初始化数据
            InitData();

            //工艺委托类型
            InitEntrustTypeDDL();

            //初始化工艺中心 dataList下拉框
            InitWorkcenterDatalistDDL();



            //设置DataTable
            leonhelper.setDataTableNoSort($("#tbMainList"));

            $("#btnSave").click(function () {
                var selEntrustType = $("#selEntrustType").val();
                var txtWorkCenterName = $("#txtWorkCenterName").val();
                var hidWorkCenterCode = $("#hidWorkCenterCode").val();

                var selProdModelID = $("#selProdModelID").val();
                var txtOperationNo = $("#txtOperationNo").val();
                var txtoperationName = $("#txtoperationName").val();
                var txtOperationCode = $("#txtOperationCode").val();

                if (selEntrustType == "0") {
                    leonhelper.simpleAlert("请选择工艺委托类型", 0);
                    $("#selEntrustType").focus;
                    return;
                }

                if (txtWorkCenterName == "" && hidWorkCenterCode == "") {
                    leonhelper.simpleAlert("请选择工艺中心", 0);
                    $("#txtWorkCenterName").focus();
                    return;
                }

                if (txtOperationCode == "") {
                    leonhelper.simpleAlert("请输入工序编码", 0);
                    $("#txtOperationCode").focus();
                    return;
                }

                if (txtoperationName == "") {
                    leonhelper.simpleAlert("请输入工序名称", 0);
                    $("#txtoperationName").focus();
                    return;
                }

                if (txtOperationNo == "") {
                    leonhelper.simpleAlert("请输入工序号", 0);
                    $("#txtOperationNo").focus();
                    return;
                }

                if (selProdModelID == "0") {
                    leonhelper.simpleAlert("请选择产品型号（图号）", 0);
                    $("#selProdModelID").focus();
                    return;
                }

                leonhelper.loading();
                leonhelper.callByAjax("/BaseInfo/SavePartGongxu", {
                    ID: $("#hidID").val(),
                    entrustType: $("#selEntrustType").val(),
                    workCenterCode: $("#hidWorkCenterCode").val(),
                    workCenterName: $("#hidWorkCenterName").val(),
                    prodModelID: $("#selProdModelID").val(),
                    operationNo: $("#txtOperationNo").val().trim(),
                    operationName: $("#txtoperationName").val().trim(),
                    operationCode: $("#txtOperationCode").val().trim(),
                    isCheckPoint: parseInt($('input:radio[name="rdoIsCheckPoint"]:checked').val()),
                    isReportPoint: parseInt($('input:radio[name="rdoIsReportPoint"]:checked').val()),
                    isPickingPoint: parseInt($('input:radio[name="rdoIsPickingPoint"]:checked').val()),
                    entrustSupplierCode: $("#txtEntrustSupplierCode").val(),
                    taiweiCode: $("#txtTaiweiCode").val(),
                    opertionAlias: $("#txtOpertionAlias").val(),
                    proInstruction: $("#txtProInstruction").val(),
                    status: $("#selStatus").val(),
                    remark: $("#txtRemark").val().trim(),
                }, function (data) {
                    if (data.Result) {
                        leonhelper.simpleAlert(data.Message, 1, function () {
                            location.reload();
                        });
                    } else {
                        leonhelper.simpleAlert(data.Message, 2);
                    }
                });

            });

            //新增按钮点击事件
            $("#btnAdd").click(function () {
                $("#hTit").html("新增计划工序维护信息");
                //清空数据
                $("#hidID").val("");
                $("#selProdModelID").val($("#hidProdModelID").val());
                $("#txtOperationNo").val("");
                $("#txtoperationName").val("");
                $("#txtOperationCode").val("");

                //默认选项
                $("input[name='rdoIsCheckPoint']").removeAttr('checked');//先清除radio的ehecked
                $($("input[name='rdoIsCheckPoint']").eq(1)).prop('checked', true);//赋值为 否0
                $("input[name='rdoIsReportPoint']").removeAttr('checked');//先清除radio的ehecked
                $($("input[name='rdoIsReportPoint']").eq(1)).prop('checked', true);//赋值为 否0
                $("input[name='rdoIsPickingPoint']").removeAttr('checked');//先清除radio的ehecked
                $($("input[name='rdoIsPickingPoint']").eq(1)).prop('checked', true);//赋值为 否0

                $("#hidWorkCenterCode").val("");
                $("#hidWorkCenterName").val("");
                $("#txtWorkCenterName").val("");
                $("#selEntrustType").val("0");
                $("#txtEntrustSupplierCode").val("");
                $("#txtTaiweiCode").val("");
                $("#txtOpertionAlias").val("");
                $("#txtProInstruction").val("");

                $("#selStatus").val("0");
                $("#txtRemark").val("");
            });

            //删除按钮操作
            $('#btnDel').click(function () {
                var ids = GetckbValue();//获取复选框的值
                if (ids == "") {
                    eonhelper.simpleAlert("没有可要删除的数据", 2);
                    return;
                }
                $.ajax({
                    url: "/BaseInfo/DelPartGongxu",
                    type: "post",
                    dataType: "json",
                    data: "{id:'" + ids + "'}",
                    contentType: "application/json",
                    success: function (data) {
                        Modal.alert({
                            text: data.Message, callback: function () {
                                if (data.Result)
                                    window.location.reload();
                                else
                                    window.location.reload();
                            }
                        });
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });
            });

        });

        //初始化数据
        function InitData() {
            leonhelper.callByAjax("/BaseInfo/GetPartGongxuList", {
                prodModelID: $("#selProdModelIDSelect").val(),
                LIKEoperationName: $("#txtLIKEOperationName").val().trim()
            }, function (data) {
                var page = $(".current").text();
                page = parseInt(page) || 1;
                page = page - 1;
                $('#tbMainList').dataTable().fnClearTable();//清空
                if (data && data.length > 0) {
                    data = null2str(data);
                    var str = "";
                    var tableData = new Array(data.length);
                    for (var i = 0; i < data.length; i++) {
                        var m = data[i];
                        arrary = [];
                        arrary.push("<input type='checkbox' value='" + m.ID + "' class='checkbox' name='ids' >");
                        arrary.push(m.entrustTypeText);
                        arrary.push(m.workCenterCode);
                        arrary.push(m.workCenterName);
                        arrary.push(m.operationCode);
                        arrary.push(m.operationName);
                        arrary.push(m.operationNo);
                        arrary.push(m.Pmodel + "-" + m.DrawingNo);
                        //arrary.push(m.IsCheckPointText);
                        //arrary.push(m.IsReportPointText);
                        //arrary.push(m.IsPickingPointText);
                        //arrary.push(m.entrustSupplierCode);
                        //arrary.push(m.taiweiCode);
                        //arrary.push(m.opertionAlias);
                        //arrary.push(m.proInstruction);
                        arrary.push(m.statusText);
                        //arrary.push(m.remark);
                        arrary.push("<a class='btn btn-primary btn-sm text-white' data-toggle='modal' data-target='#divModal' onclick=\"EditData(\'" + m.ID + "\',\'" + m.prodModelID + "\',\'" + m.entrustType + "\',\'" + m.workCenterCode + "\',\'" + m.workCenterName + "\', \'" + m.operationNo + "\', \'" + m.operationName + "\', \'" + m.operationCode + "\',\'" + m.isCheckPoint + "\',\'" + m.isReportPoint + "\',\'" + m.isPickingPoint + "\',\'" + m.entrustSupplierCode + "\',\'" + m.taiweiCode + "\',\'" + m.opertionAlias + "\',\'" + m.proInstruction + "\', \'" + m.status + "\', \'" + m.remark + "\')\"><i class='fa fa-edit'> 编辑</i></a> <a class='btn btn-info btn-sm' href='\\Material\\EBOMList?ebProdModelID=" + m.prodModelID + "&ebOperationID=" + m.ID + "' role='button'><i class='fa fa-navicon'> MBOM</i></a> <a class='btn btn-info btn-sm' href='\\Technology\\BaseGwProdDef?prodModelID=" + m.prodModelID + "&operationID=" + m.ID + "' role='button'><i class='fa fa-navicon'> 工位</i></a>");
                        tableData[i] = arrary;
                    }
                    $('#tbMainList').dataTable().fnAddData(tableData);  //重新绑定table数据
                    $('#tbMainList').dataTable().fnPageChange(page);
                    $("#tbMainList td").each(function () {
                        var text = $(this).text();
                        $(this).attr("title", text);
                    });
                    $('#tbMainList').show();
                }
            });
        }

        //编辑
        function EditData(ID, prodModelID, entrustType, workCenterCode, workCenterName, operationNo, operationName, operationCode, isCheckPoint, isReportPoint, isPickingPoint, entrustSupplierCode, taiweiCode, opertionAlias, proInstruction, status, remark) {
            $("#hTit").html("编辑计划工序维护信息");

            //清空数据
            $("#hidID").val(ID);
            $("#selProdModelID").val(prodModelID);
            $("#selEntrustType").val(entrustType);

            //赋值 工艺中心隐藏域
            $("#hidWorkCenterCode").val(workCenterCode);
            $("#hidWorkCenterName").val(workCenterName);
            $("#txtWorkCenterName").val(workCenterName);

            $("input[name='rdoIsCheckPoint']").removeAttr('checked');//先清除radio的ehecked
            $($("input[name='rdoIsCheckPoint']").eq(parseInt(isCheckPoint == "0" ? "1" : "0"))).prop('checked', true);//赋值

            $("input[name='rdoIsReportPoint']").removeAttr('checked');//先清除radio的ehecked
            $($("input[name='rdoIsReportPoint']").eq(parseInt(isReportPoint == "0" ? "1" : "0"))).prop('checked', true);//赋值

            $("input[name='rdoIsPickingPoint']").removeAttr('checked');//先清除radio的ehecked
            $($("input[name='rdoIsPickingPoint']").eq(parseInt(isPickingPoint == "0" ? "1" : "0"))).prop('checked', true);//赋值

            $("#txtEntrustSupplierCode").val(entrustSupplierCode);
            $("#txtTaiweiCode").val(taiweiCode);
            $("#txtOpertionAlias").val(opertionAlias);
            $("#txtProInstruction").val(proInstruction);

            $("#txtOperationNo").val(operationNo);
            $("#txtoperationName").val(operationName);
            $("#txtOperationCode").val(operationCode);
            $("#selStatus").val(status);
            $("#txtRemark").val(remark);
        }

        //初始化下拉框
        function InitDDL() {
            var settable = $("#selProdModelID");//获取当前Select下拉控件
            leonhelper.callByAjax("/BaseInfo/GetProductDrawingNoModel", {}, function (data) {
                if (data && data.length > 0) {
                    var myHTML = "<option value='0'>--请选择--</option>";
                    settable.html("");//赋值之前先清空
                    for (var i = 0; i < data.length; i++) {
                        myHTML += "<option value=" + data[i].ID + ">" + data[i].PmodelDrawingNo + "</option>";
                    }
                    settable.append(myHTML);
                }
            });
        }

        //初始化下拉框 获取数据字典维护中“生产工艺委外类型”
        function InitEntrustTypeDDL() {
            leonhelper.callByAjax("/Plan/GetBaseDataTypeValue", { TypeCode: "EntrustType" }, function (data) {
                if (data && data.length > 0) {
                    var str = "<option value='0' data-value='0'>--请选择--</option>";
                    for (var i = 0; i < data.length; i++) {
                        str += '<option class="ProdModelItem" value="' + data[i].ID + '" data-value="' + data[i].bdvalue + '" >' + data[i].bdname + '</option>';
                    }
                    $("#selEntrustType").empty(); //清空
                    $("#selEntrustType").append(str);
                }
            });
        }


        //初始化工艺中心 dataList下拉框
        function InitWorkcenterDatalistDDL() {
            leonhelper.callByAjax("/Plan/GetBaseDataTypeValue", {
                TypeCode: "Workcenter"
            }, function (data) {
                if (data && data.length > 0) {
                    data = null2str(data);
                    var str = '';//工序 加载string
                    for (var i = 0; i < data.length; i++) {
                        str += ' <option class="workcenterItem" value="' + data[i].bdname + '" data-id="' + data[i].ID + '" data-code="' + data[i].bdcode + '" data-name="' + data[i].bdname + '">工作中心编码：' + data[i].bdcode + ' 名称：' + data[i].bdname + ' </option>';
                    }
                    $("#hasWorkCenterInfo").empty(); //清空 datalist 可查询框
                    $("#hasWorkCenterInfo").append(str);
                }
            });
        }



        //回车绑定
        document.onkeydown = function () {
            if ((window.event.keyCode || window.event.which) == 13) InitData();
        }

    </script>
}
