@{
    ViewBag.Title = "编辑产品信息";
}

@model RW.PMS.Model.BaseInfo.BaseProductModel

@section js{
    <script type="text/javascript">
        $('.ajaxForm').bootstrapValidator({
            fields: {
                Pname: {
                    validators: {
                        notEmpty: {
                            message: "产品名称不能为空！"
                        }
                    }
                }
            }
        });
    </script>
}

<div class="container-fluid">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <div class="row p-4" style="margin-left:460px">
                <h3>@(Model.ID == 0 ? "添加" : "编辑")产品信息</h3>
            </div>



            <div class="box-body">
                <form role="form" method="post" action="/BaseInfo/@(Model.ID == 0 ? "AddBaseProduct" : "EditBaseProduct")" class="ajaxForm form-horizontal" data-url="/BaseInfo/BaseProduct">

                    <input type="hidden" name="ID" value="@Model.ID" />
                    <div class="row form-group">
                        <label class="control-label col-lg-2 text-right" for="name">产品名称：</label>
                        <div class="col-lg-5 col-md-6">
                            <input type="text" class="form-control" name="Pname" value="@Model.Pname" placeholder="请输入产品名称" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="control-label col-lg-2 text-right">状态：</label>
                        <div class="col-lg-5 col-md-6">
                            <select class="form-control" name="Pstatus">
                                <option value="0" @("0" == Model.Pstatus.ToString() ? "selected" : "")>启用</option>
                                <option value="1" @("1" == Model.Pstatus.ToString() ? "selected" : "")>禁用</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="control-label col-lg-2 text-right" for="name">备注：</label>
                        <div class="col-lg-5 col-md-6">
                            <input class="form-control" name="Remark" value="@Model.remark" />
                        </div>
                    </div>

                    <div class="form-group" style="margin-left: 480px">
                        <button type="submit" class="btn btn-primary  mr-4"><i class="fa fa-save"> 保存</i></button>
                        <a href="javascript:history.go(-1);" class="btn btn-success"><i class="fa fa-undo"> 返回</i></a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


