@{
    ViewBag.Title = "编辑工具信息";
}
@model RW.PMS.Model.BaseInfo.GongjuModel
@section js{
    <script type="text/javascript">
        $('.ajaxForm').bootstrapValidator({
            fields: {
                Gjname: {
                    validators: {
                        notEmpty: {
                            message: "工具名称不能为空！"
                        }
                    }
                }
            }
        });

        function show() {
            var Upload = document.getElementById("UploadImage");
            var fileName = Upload.value;
            //返回String对象中子字符串最后出现的位置.
            var seat = fileName.lastIndexOf(".");
            //返回位于String对象中指定位置的子字符串并转换为小写.
            var extension = fileName.substring(seat).toLowerCase();
            var allowed = [".gif", ".jpeg", ".jpg", ".png", ".svg"];
            for (var i = 0; i < allowed.length; i++) {
                if (!(allowed[i] != extension)) {
                    return true;
                }
            }
            Upload.value = "";
            Modal.alert("不支持" + extension + "格式");
            return false;
        }
        $("input[type='file']").change(function () {
            var file = this.files[0];
            if (window.FileReader) {
                var reader = new FileReader();
                reader.readAsDataURL(file);
                //监听文件读取结束后事件    
                reader.onloadend = function (e) {
                    $(".img").attr("src", e.target.result);    //e.target.result就是最后的路径地址
                };
            }
        });
    </script>
}
<div class="box">
    <div class="box-header" style="margin-left: 480px">
        <h3>@(Model.ID == 0 ? "添加" : "编辑")工具信息</h3>
    </div>
    <div class="box-body row">
        <form  role="form" method="post" action="/BaseInfo/@(Model.ID == 0 ? "AddBaseGongJu" : "EditBaseGongJu")" class="ajaxForm form-horizontal" data-url="/BaseInfo/BaseGongJu" >
            <input type="hidden" name="ID" value="@Model.ID" />
            <div class="row form-group">
                <label class="control-label col-lg-2" for="name">工具名称：</label>
                <div class="col-lg-5 col-md-6">
                    <input class="form-control" name="Gjname" placeholder="请输入工具名称" value="@Model.Gjname"/>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-lg-2" for="name">工具类型：</label>
                <div class="col-lg-5 col-md-6">
                    <select class="form-control" name="GjTypeID">
                        <option value="0" selected="selected">请选择</option>
                        @{
                            foreach (var item in ViewBag.GjTypeInfo)
                            {
                            <option value="@item.ID" @(item.ID == Model.GjTypeID ? "selected" : "")>@item.bdname</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-lg-2" for="name">选择图片</label>
                <div class="col-lg-5 col-md-6">
                    <input type="file" accept='image/gif,image/jpeg,image/jpg,image/png,image/svg' onchange="show()" id="UploadImage" name="CheckImage" />
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-lg-2" for="name">删除图片</label>
                <div class="col-lg-5 col-md-6">
                    @Html.CheckBox("DelPhoto", false)
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-lg-2" for="name">工具图片</label>
                <div class="col-lg-5 col-md-6">
                    <img style="width:600px;height:450px;"  src="/BaseInfo/GetGongJuImg?id=@Model.ID" alt="图片" class="img" />
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-lg-2" for="name">装配时是否要录工具编码</label>
                <div class="col-lg-5 col-md-6">
                    @{
                        bool IsCheck = false;
                        if (Model.GjIsHasCode.ToString() == "1")
                        {
                            IsCheck = true;
                        }
                        @Html.CheckBox("BoolIsHasCode", IsCheck)
                    }
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-lg-2" for="name">状态：</label>
                <div class="col-lg-5 col-md-6">
                    <select class="form-control" name="GjStatus">
                        <option value="0"  @("0" == Model.GjStatus.ToString() ? "selected" : "")>启用</option>
                        <option value="1"  @("1" == Model.GjStatus.ToString() ? "selected" : "")>禁用</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-lg-2" for="name">备注：</label>
                <div class="col-lg-5 col-md-6">
                    <input class="form-control" name="Remark" value="@Model.Remark"/>
                </div>
            </div>
            <div class="form-group" style="margin-left: 480px">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>保存</button>
                <a href="javascript:history.go(-1);" class="btn btn-primary"><i class="fa fa-undo"></i>返回</a>
            </div>
        </form>
    </div>
</div>
