@section css{
    <link href="~/Content/leonstyle.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/Scripts/layui-v2.5.6/css/layui.css" rel="stylesheet" />
    <style type="text/css">
        .LStyle {
            color: white;
        }
    </style>
}

<div class="container-fluid">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <div>
                <div class="form-group">
                    <div class="shadow-none p-3 mb-1 bg-light rounded">
                        <form class="form-inline text-left" role="search">
                            <div class="form-group">
                                <label>产品序列号：</label>
                                <input name="Prod_no" type="text" value="@Request["Prod_no"]" class="form-control" placeholder="请输入产品序列号查找">
                            </div>&nbsp;&nbsp;&nbsp;

                            <div class="form-group" style="margin-left:20px;">
                                <label>计划订单号：</label>
                                <input name="pp_orderCode" type="text" value="@Request["pp_orderCode"]" class="form-control" placeholder="请输入计划订单号查找">
                            </div>&nbsp;

                            <div class="form-group" style="margin-left:20px;">
                                <label for="name">产品型号：</label>
                                <select class="form-control" name="ProdModel_id">
                                    <option value="0">--请选择--</option>
                                    @if (ViewBag.ProductModelInfo != null)
                                    {
                                        foreach (var item in ViewBag.ProductModelInfo)
                                        {
                                            <option value="@item.ID" @(item.ID.ToString() == Request["ProdModel_id"] ? "selected" : "")>@item.Pmodel</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="form-group" style="margin-left:20px;">
                                <label>开始时间：</label>
                                <input name="starttime" type="text" value="@Request["starttime"]" class="form-control" id="starttime" style="width:100px;" autocomplete="off">
                            </div>

                            <div class="form-group" >
                                <label>完成时间：</label>
                                <input name="endtime" type="text" value="@Request["endtime"]" class="form-control" id="endtime" style="width:100px;" autocomplete="off">
                            </div>

                            <div class="form-group" style="margin-left:20px;">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-search"></i>
                                    查询
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table">
                <table class="table table-bordered table-hover">
                    <thead style="background-color:#c8c8fa">
                        <tr style="background: #1a749a;color:#f3f0f0; text-align:center;">
                            <th>产品序列号</th>
                            <th>产品名称</th>
                            <th>计划订单号</th>
                            <th>开始时间</th>
                            <th>完成时间</th>
                            <th>完成状态</th>
                            <th>报告</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (RW.PMS.Model.Assembly.AssemblyProdModel item in ViewBag.AssemblyProd)
                            {
                                <tr>
                                    <td>@item.Prod_no</td>
                                    <td>@item.ProdModel_name</td>
                                    <td>@item.pp_orderCode</td>
                                    <td>@item.Fp_startTimeText</td>
                                    <td>@item.Fp_finishTimeText</td>
                                    <td>
                                        @if (item.Fp_finishStatus == 1)
                                        {
                                            <span class='badge LStyle' style='background-color:#68af35;font-size:13px;'> @item.Fp_finishStatusS </span>
                                        }
                                        else if (item.Fp_finishStatus == 0)
                                        {
                                            <span class='badge LStyle' style='background-color:#dd4b39;font-size:13px;'> @item.Fp_finishStatusS </span>
                                        }
                                    </td>
                                    <td>
                                        <a type="button" class="btn btn-success btn-xs" target="_blank" href="/Content/pdfjs/web/viewer.html?file=
                                                               @HttpUtility.UrlEncode(string.Format("http://{0}/repTempl/RepTemplateView?pModelID={1}&ProdNo={2}",ViewBag.HTTPHOST,item.ProdModel_id,item.Prod_no))"><i class="fa fa-file-pdf-o"></i>报告预览</a>
                                        <a type="button" class="btn btn-success btn-xs" href="/repTempl/RepTemplateSourceDownLoad?ProdNo=@item.Prod_no&pModelID=@item.ProdModel_id"><i class="fa fa-file-word-o"></i>报告下载</a>
                                    </td>
                                </tr>
                            }

                            if (ViewBag.AssemblyProd == null || ViewBag.AssemblyProd.Count == 0)
                            {
                                <tr><td colspan="9" class="text-center">暂无任何数据！</td></tr>
                            }
                        }
                    </tbody>
                </table>
                @Html.Partial("ServerPaging", new RW.PMS.Web.Models.PaggingModel { TotalCount = ViewBag.TotalCount, ShowPages = 5, Url = "/ProductInfo/AssemblyProd?Prod_no=" + Request["Prod_no"] + "&ProdModel_id=" + Request["ProdModel_id"] + "&starttime=" + Request["starttime"] + "&starttime1=" + Request["starttime1"] + "&endtime=" + Request["endtime"] + "&endtime1=" + Request["endtime1"] + "&pp_orderCode=" + Request["pp_orderCode"] })
            </div>

        </div>
    </div>
</div>
@section js{
    <script src="~/Scripts/layui-v2.5.6/layui.js"></script>
    <script type="text/javascript">

        layui.use('laydate', function () {
            var laydate = layui.laydate;
            //执行一个laydate实例
            laydate.render({
                elem: '#starttime' //指定元素
                , theme: '#007bff'
                , calendar: true    //启用假日
                //, type: 'datetime'
                //, lang: 'en'
            });
            laydate.render({
                elem: '#starttime1' //指定元素
                , theme: '#007bff'
                , calendar: true    //启用假日
                //, lang: 'en'
            });

            laydate.render({
                elem: '#endtime' //指定元素
               , theme: '#007bff'
               , calendar: true    //启用假日
                //, lang: 'en'
            });

            laydate.render({
                elem: '#endtime1' //指定元素
               , theme: '#007bff'
               , calendar: true    //启用假日
                //, lang: 'en'
            });
        });
    </script>
}
