@section css{
    <link href="~/Content/leonstyle.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="card card-primary card-outline">
        <div class="card-header">

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <a class="btn btn-success pull-right" href="/Device/DeviceChecking"><i class="fa fa-undo"> 后退</i></a>
                    </div>
                </div>
            </div>

            <div class="shadow-none pl-3 pt-3 bg-light rounded">
                <form class="" role="search">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-auto">
                                <label class="form-label">点检类别：</label>
                                <select class="form-control input" name="DevTypeID" id="DevTypeID">
                                    <option value="0">--请选择--</option>
                                    @if (ViewBag.faultlist != null)
                                    {
                                        foreach (var item in ViewBag.faultlist)
                                        {
                                            <option value="@item.ID">@item.bdname</option>
                                        }

                                    }
                                </select>
                                <input id="DevCheckID" name="DevCheckID" type="hidden" value="@ViewBag.ckid" />
                            </div>
                        </div>

                        <div class="col-sm-1">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-search"></i>
                                    查询
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <div class="card-body">
            <div class="table">
                <table class="table table-bordered table-hover">
                    <thead style="background-color:#c8c8fa">
                        <tr style="background: #1a749a;color:#f3f0f0; text-align:center;">

                            <th>点检序列</th>
                            <th>点检项目</th>
                            <th>班组员工ID</th>
                            <th>点检时间</th>
                            <th>点检结果</th>
                            <th>备注</th>
                            @* <th class="CZ">操作</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (RW.PMS.Model.Device.DeviceCheckingDetailsModel item in ViewBag.DevicePlanswminnxin)
                            {
                                <tr>
                                    <td>@item.spotID</td>
                                    <td>@item.CheckItem</td>
                                    <td>@item.ItemCheckerID</td>
                                    <td>@item.CheckerTime</td>
                                    <td>@item.ItemCheckResult</td>
                                    <td>@item.Remark</td>
                                </tr>
                            }

                            if (ViewBag.DevicePlanswminnxin == null || ViewBag.DevicePlanswminnxin.Count == 0)
                            {
                                <tr><td colspan="9" class="text-center">暂无任何数据！</td></tr>
                            }
                        }
                    </tbody>
                </table>
                @Html.Partial("ServerPaging", new RW.PMS.Web.Models.PaggingModel { TotalCount = ViewBag.TotalCount, ShowPages = 5, Url = "/Device/DeviceCheckingDEtail" })
            </div>



        </div>
    </div>
</div>



@section js{
    <script type="text/javascript">
        function show_modal() {
            $('#myModal').modal('show');
        }
        $(function () {
            $('#btnDel').click(function () {
                var ids = GetckbValue();//获取复选框的值
                if (ids == "") {
                    Modal.alert("没有可要删除的数据!");
                    return;
                }
                $.ajax({
                    url: "/Device/DelDevicePlan",
                    type: "post",
                    dataType: "json",
                    data: "{id:'" + ids + "'}",
                    contentType: "application/json",
                    success: function (data) {
                        Modal.alert({
                            text: data.Message, callback: function () {
                                if (data.Result)
                                    window.location.reload();
                                else
                                    window.location.reload();
                            }
                        });
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });
            });
        });
    </script>
}

