@model RW.PMS.Model.Follow.FollowFaultRepairModel



<div class="container-fluid">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <div class="row p-4" style="margin-left: 450px">
                <h3>@(Model.ID == 0 ? "添加" : "编辑")故障报修信息</h3>
            </div>


            <div class="box-body">
                <form role="form" method="post" action="/Data/EditFollowFaultRepair" class="ajaxForm form-horizontal" data-url="/Data/FollowFaultRepair">
                    <input type="hidden" name="ID" value="@Model.ID" />
                    <div class="row form-group">
                        <label class="control-label col-lg-2 text-right" for="name">设备名称：</label>
                        <div class="col-lg-5 col-md-6">
                            <input type="text" class="form-control" name="Fr_devName" value="@Model.Fr_devName" disabled="disabled" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="control-label col-lg-2 text-right" for="name">报修员：</label>
                        <div class="col-lg-5 col-md-6">
                            <input type="text" class="form-control" name="Fb_gwName" value="@Model.Fr_oper" disabled="disabled" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="control-label col-lg-2 text-right" for="name">报修时间：</label>
                        <div class="col-lg-5 col-md-6">
                            <input type="text" class="form-control" name="Fr_createtime" value="@Model.Fr_createtime" disabled="disabled" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="control-label col-lg-2 text-right" for="name">故障代码：</label>
                        <div class="col-lg-5 col-md-6">
                            <select class="form-control" name="Fr_faultCode" disabled="disabled">
                                <option value="-1" selected="selected">--全部--</option>
                                @{
                                    if (ViewBag.FaultCodeInfo != null)
                                    {
                                        foreach (var item in ViewBag.FaultCodeInfo)
                                        {
                                            <option value="@item.ID" @(item.ID == Model.Fr_faultCode ? "selected" : "")>@item.bdname</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="control-label col-lg-2 text-right" for="name">故障级别：</label>
                        <div class="col-lg-5 col-md-6">
                            <select class="form-control" name="Fr_faultLevel" disabled="disabled">
                                <option value="-1" selected="selected">--全部--</option>
                                @{
                                    if (ViewBag.FaultLevelInfo != null)
                                    {
                                        foreach (var item in ViewBag.FaultLevelInfo)
                                        {
                                            <option value="@item.ID" @(item.ID == Model.Fr_faultLevel ? "selected" : "")>@item.bdname</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="control-label col-lg-2 text-right" for="name">紧急程度：</label>
                        <div class="col-lg-5 col-md-6">
                            <select class="form-control" name="Fr_emergency" disabled="disabled">
                                <option value="-1" selected="selected">--全部--</option>
                                @{
                                    if (ViewBag.EmergencyInfo != null)
                                    {
                                        foreach (var item in ViewBag.EmergencyInfo)
                                        {
                                            <option value="@item.ID" @(item.ID == Model.Fr_emergency ? "selected" : "")>@item.bdname</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="control-label col-lg-2 text-right" for="name">故障类别：</label>
                        <div class="col-lg-5 col-md-6">
                            <select class="form-control" name="Fr_faultClass" disabled="disabled">
                                <option value="-1" selected="selected">--全部--</option>
                                @{
                                    if (ViewBag.FaultTypeInfo != null)
                                    {
                                        foreach (var item in ViewBag.FaultTypeInfo)
                                        {
                                            <option value="@item.ID" @(item.ID == Model.Fr_faultClass ? "selected" : "")>@item.bdname</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    @*<div class="row form-group">
                        <label class="control-label col-lg-2 text-right" for="name">产品型号：</label>
                        <div class="col-lg-5 col-md-6">
                            <select class="form-control" name="Pf_prodModelID" disabled="disabled">
                                <option value="-1" selected="selected">--全部--</option>
                                @{
                                    if (ViewBag.ProdModelInfo != null)
                                    {
                                        foreach (var item in ViewBag.ProdModelInfo)
                                        {
                                            <option value="@item.ID" @(item.ID == Model.Pf_prodModelID ? "selected" : "")>@item.Pmodel</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>*@
                    @*<div class="row form-group">
                        <label class="control-label col-lg-2 text-right" for="name">车型：</label>
                        <div class="col-lg-5 col-md-6">
                            <select class="form-control" name="Pf_carModelID" disabled="disabled">
                                <option value="-1" selected="selected">--全部--</option>
                                @{
                                    if (ViewBag.CarModelInfo != null)
                                    {
                                        foreach (var item in ViewBag.CarModelInfo)
                                        {
                                            <option value="@item.ID" @(item.ID == Model.Pf_carModelID ? "selected" : "")>@item.bdname</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>*@
                    @*<div class="row form-group">
                        <label class="control-label col-lg-2 text-right" for="name">车号：</label>
                        <div class="col-lg-5 col-md-6">
                            <input type="text" class="form-control" name="Pf_carNo" value="@Model.Pf_carNo" disabled="disabled" />
                        </div>
                    </div>*@
                    @*<div class="row form-group">
                        <label class="control-label col-lg-2 text-right" for="name">产品编号：</label>
                        <div class="col-lg-5 col-md-6">
                            <input type="text" class="form-control" name="Pf_prodNo" value="@Model.Pf_prodNo" disabled="disabled" />
                        </div>
                    </div>*@
                    <div class="row form-group">
                        <label class="control-label col-lg-2 text-right" for="name">故障情况：</label>
                        <div class="col-lg-5 col-md-6">
                            <input type="text" class="form-control" name="Fr_faultMemo" value="@Model.Fr_faultMemo" disabled="disabled" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="control-label col-lg-2 text-right" for="name">报修内容：</label>
                        <div class="col-lg-5 col-md-6">
                            <input type="text" class="form-control" name="Fr_repairMemo" value="@Model.Fr_repairMemo" disabled="disabled" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="control-label col-lg-2 text-right" for="name">解除人：</label>
                        <div class="col-lg-5 col-md-6">
                            <select class="form-control" id="SolveOperID" name="Fr_solve_operID" onchange="changeValue()">
                                <option value=" " selected="selected">--全部--</option>
                                @{
                                    if (ViewBag.UserInfo != null)
                                    {
                                        foreach (var item in ViewBag.UserInfo)
                                        {
                                            <option value="@item.userID" @(item.userID == Model.Fr_solve_operID ? "selected" : "")>@item.empName</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <input type="hidden" name="Fr_solve_oper" id="Fr_solve_oper" />
                    <div class="row form-group">
                        <label class="control-label col-lg-2 text-right" for="name">解除时间：</label>
                        <div class="col-lg-5 col-md-6">
                            <input type="text" class="form-control CreateTime" name="Fr_solve_time" value="@Model.Fr_solve_time" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="control-label col-lg-2 text-right" for="name">故障原因：</label>
                        <div class="col-lg-5 col-md-6">
                            <textarea class="form-control" rows="6" name="Fr_solve_reason" placeholder="请输入故障原因">@Model.Fr_solve_reason</textarea>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="control-label col-lg-2 text-right" for="name">解决方法：</label>
                        <div class="col-lg-5 col-md-6">
                            <textarea class="form-control" rows="6" name="Fr_solve_method" placeholder="请输入解除方法">@Model.Fr_solve_method</textarea>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="control-label col-lg-2 text-right">处理结果：</label>
                        <div class="col-lg-5 col-md-6">
                            <select class="form-control" name="Fr_status">
                                <option value="0" @(0 == Model.Fr_status ? "selected" : "")>待处理</option>
                                <option value="1" @(1 == Model.Fr_status ? "selected" : "")>已解决</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="control-label col-lg-2 text-right" for="name">备注：</label>
                        <div class="col-lg-5 col-md-6">
                            <input type="text" class="form-control" id="Fr_remark" name="Fr_remark" value="@Model.Fr_remark" disabled="disabled" />
                        </div>
                    </div>
                    <div class="form-group" style="margin-left: 480px">
                        <button type="submit" class="btn btn-primary mr-4"><i class="fa fa-save"> 保存</i></button>
                        <a href="javascript:history.go(-1);" class="btn btn-success"><i class="fa fa-undo"> 返回</i></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section css{
    <link type="text/css" href="~/static/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <style type="text/css">
        .CreateTime {
            width: 100%;
            height: 34px;
        }
    </style>
}
@section js{
    <script type="text/javascript" src="~/static/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/static/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script type="text/javascript">
        $('.CreateTime').datepicker({
            autoclose: true,
            language: "zh-CN",
            format: "yyyy-mm-dd",
            todayHighlight: true,
            todayBtn: "linked"
        });
        function changeValue() {
            var option = $("#SolveOperID option:selected"); //获取选中的项
            var optex = option.text(); //显示值
            $("#Fr_solve_oper").val(optex);
        }

        $('.ajaxForm').bootstrapValidator({
            fields: {
                Fr_solve_reason: {
                    validators: {
                        notEmpty: {
                            message: "故障原因不能为空！"
                        }
                    }
                },
                Fr_solve_method: {
                    validators: {
                        notEmpty: {
                            message: "解除方法不能为空！"
                        }
                    }
                },
                Fr_solve_time: {
                    trigger: "change",
                    validators: {
                        notEmpty: {
                            message: "解除时间不能为空！"
                        }
                    }
                },
                Fr_solve_operID: {
                    validators: {
                        notEmpty: {
                            message: '解除人员不能为空'
                        }
                    }
                }
            }
        });

    </script>
}
